<div class="container--404">
  <div class="content">
    <img src="<%= static_path(@conn, "/images/ocm_transparentlogo.png") %>" alt="KPI OceanConnect">
    <h1>404</h1>
    <h2>Ain't nothin' here!</h2>
    <%= link "Return to Auction Home", to: auction_path(@conn, :index), class: "button" %>
  </div>
</div>
