<div class="auction-app__header container">
  <div class="content has-margin-top-lg">
    <h1 class="title is-3 has-text-weight-bold">Make Claim</h1>
  </div>
</div>
<%= render "form.html", Map.put(assigns, :action, claim_path(@conn, :create, @auction.id)) %>
