// ========================== //
// ========================== //
// THEME.scss
// ========================== //
// The variables declared here are those from
// the Bulma setup that we want to override as
// we establish a cohesive OCM Auction Site style.
// ========================== //
// ========================== //

// ===== COLORS ===== //

$navy: #013643;
$teal: #188eac;
$turquoise: #1db8b9;
$yellow: #ffed55;
$black: #363636;
$green: #36bf6c;
$gold: #ffae30;
$red: #ff552e;
$white: #fff;

// The lighter the gray, the lower the number...
$gray-0: #f3f3f3;
$gray-1: #efefef;
$gray-2: #dbdbdb;
$gray-3: #888;
$gray-4: #666;

$primary: $navy;
$link: $turquoise;
$success: $green;
$warning: $gold;
$danger: $red;
$dark: $gray-3;
$highlight: $yellow;
$info: $gray-1;

// Element Treatments


$border-gray-2: 1px solid #dbdbdb;
$timepicker-box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
$box-shadow: 0 2px 3px rgba(54, 54, 54, 0.1), 0 0 0 1px rgba(54, 54, 54, 0.1);

$border-radius: 3px;
$border-radius--lg: 5px;
$border-radius--xl: 9px;
$border-radius--pill: 20px;


//// Associated Utilities

.is-white{
  background-color: $white !important;
}
.is-gray-0 {
  background-color: $gray-0 !important;
}
.is-gray-1 {
  background-color: $gray-1 !important;
}
.is-gray-2 {
  background-color: $gray-2 !important;
}
.is-gray-3 {
  background-color: $gray-3 !important;
  color: $white !important;
}
.is-turquoise {
  background-color: $turquoise !important;
  color: $white !important;
}
.is-gold {
  background-color: $gold !important;
  color: $white !important;
}
.is-yellow {
  background-color: $yellow !important;
}
.has-text-white {
  color: $white !important;
}
.has-text-gray-0 {
  color: $gray-0 !important;
}
.has-text-gray-1 {
  color: $gray-1 !important;
}
.has-text-gray-2 {
  color: $gray-2 !important;
}
.has-text-gray-3 {
  color: $gray-3 !important;
}
.has-text-green {
  color: $green !important;
}
.has-text-teal {
  color: $teal !important;
}
.has-text-red {
  color: $red !important;
}
.has-text-gold {
  color: $gold !important;
}
.has-text-turquoise {
  color: $turquoise !important;
}
.is-info {
  background-color: $gray-1;
  color: $black !important;
}
.is-success {
  background-color: $success !important;
  color: $white !important;
}
.is-warning {
  background-color: $warning !important;
  color: $white !important;
}
.is-danger {
  background-color: $danger !important;
  color: $white !important;
}
.is-white {
  background-color: $white !important;
}
.is-highlit {
  background-color: $highlight !important;
  color: $dark;
}
.is-borderless {
  border: 0px solid transparent !important;
}
.is-shadowless {
  box-shadow: none !important;
}
.is-none { // Just a casual utility to display: none
  display: none !important;
}
.has-border-radius {
  border-radius: $border-radius;
}

// ===== TYPOGRAPHY ===== //
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i');

// Text Sizes

$size-1: 3rem; .is-size-1, .is-1 { font-size: 3rem; }
$size-2: 2.5rem; .is-size-2, .is-2 { font-size: 2.5rem; }
$size-3: 2rem; .is-size-3, .is-3 { font-size: 2rem; }
$size-4: 1.5rem; .is-size-4, .is-4 { font-size: 1.5rem; }
$size-5: 1.25rem; .is-size-5, .is-5 { font-size: 1.25rem; }
$size-6: 1rem; .is-size-6, .is-6 { font-size: 1rem; }
$size-7: 0.85rem; .is-size-7, .is-7 { font-size: 0.75rem; }

// Responsive Type

@media (max-width: 768px) {
  $size-1: 1.5rem; .is-size-1, .is-1 { font-size: 1.5rem; }
  $size-2: 1.5rem; .is-size-2, .is-2 { font-size: 1.5rem; }
  $size-3: 1.5rem; .is-size-3, .is-3 { font-size: 1.5rem; }
  $size-4: 1.5rem; .is-size-4, .is-4 { font-size: 1.5rem; }
  $size-5: 1.25rem; .is-size-5, .is-5 { font-size: 1rem; }
  $size-6: 1rem; .is-size-6, .is-6 { font-size: 0.8rem; }
  $size-7: 0.85rem; .is-size-7, .is-7 { font-size: 0.75rem; }
}


// Headers
$family-header: "Montserrat", "Futura", "Helvetica", "Arial", sans-serif;

//// Associated Utility
.has-family-header { font-family: $family-header !important; }

// Copy
$family-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;

//// Associated Utility
.has-family-copy { font-family: $family-sans-serif !important; }

// ===== ELEMENTS ===== //

// Tablesf

$table-row-active-background-color: $highlight;
$table-row-active-color: $black;
$table-striped-row-even-background-color: $gray-1;
$table-head-cell-border-width: 0 0 0;
$table-cell-border-width: 0 0 0;

// Tags

$tag-background-color: $turquoise;


// ===== COMPONENTS ===== //

// Card

// $card-background-color: $turquoise;

// Tabs

$tabs-link-active-color: $black;
$tabs-border-bottom-width: 4px;

// ===== Responsivity ===== //

// Associated Utilities

.is-hidden {
  display: none;
}

.is-hidden-screen {
  display: none;
  @media print { display: block; }
}

.is-hidden-print {
  display: block;
  @media print { display: none; }
}

.overflow--auto {
  overflow: auto;
}

.overflow--hidden {
  overflow: hidden;
}
