// ========================== //
// ========================== //
// THEME.scss
// ========================== //
// The variables declared here are those from
// the Bulma setup that we want to override as
// we establish a cohesive OCM Auction Site style.
// ========================== //
// ========================== //

// ===== COLORS ===== //

$navy: #013643;
$teal: #188eac;
$turquoise: #1db8b9;
$yellow: #ffed55;
$black: #363636;
$green: #36bf6c;
$gold: #ffae30;
$red: #ff552e;
$white: #ffffff;

// The lighter the gray, the lower the number...
$gray-0: #f3f3f3;
$gray-1: #efefef;
$gray-2: #dbdbdb;
$gray-3: #888888;
$gray-4: #666666;

$primary: $navy;
$link: $turquoise;
$success: $green;
$warning: $gold;
$danger: $red;
$dark: $gray-3;
$highlight: $yellow;
$info: $gray-1;

// Element Treatments

$box-shadow: 0 2px 3px rgba(54, 54, 54, 0.1), 0 0 0 1px rgba(54, 54, 54, 0.1);


//// Associated Utilities

.is-white{
  background-color: $white !important;
}
.is-gray-0 {
  background-color: $gray-0 !important;
}
.is-gray-1 {
  background-color: $gray-1 !important;
}
.is-gray-2 {
  background-color: $gray-2 !important;
}
.is-gray-3 {
  background-color: $gray-3 !important;
  color: #fff !important;
}
.is-turquoise {
  background-color: $turquoise !important;
  color: #fff !important;
}
.is-yellow {
  background-color: $yellow !important;
}
.has-text-gray-0 {
  color: $gray-0 !important;
}
.has-text-gray-1 {
  color: $gray-1 !important;
}
.has-text-gray-2 {
  color: $gray-2 !important;
}
.has-text-gray-3 {
  color: $gray-3 !important;
}
.has-text-green {
  color: $green !important;
}
.has-text-teal {
  color: $teal !important;
}
.has-text-red {
  color: $red !important;
}
.has-text-turquoise {
  color: $turquoise !important;
}
.is-info {
  background-color: $gray-1;
  color: $black !important;
}
.is-success {
  background-color: $success !important;
  color: #fff !important;
}
.is-warning {
  background-color: $warning !important;
  color: #fff !important;
}
.is-danger {
  background-color: $danger !important;
  color: #fff !important;
}
.is-white {
  background-color: #fff !important;
}
.is-highlit {
  background-color: $highlight !important;
  color: $dark;
}
.is-borderless {
  border: 0px solid transparent !important;
}
.is-shadowless {
  box-shadow: none !important;
}
.is-none { // Just a casual utility to display: none
  display: none !important;
}
.has-border-radius {
  border-radius: 3px;
}

// ===== TYPOGRAPHY ===== //
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i');

// Text Sizes

$size-7: 0.85rem;

// Headers
$family-header: "Montserrat", "Futura", "Helvetica", "Arial", sans-serif;

//// Associated Utility
.has-family-header { font-family: $family-header !important; }

// Copy
$family-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;

//// Associated Utility
.has-family-copy { font-family: $family-sans-serif !important; }

// ===== ELEMENTS ===== //

// Tablesf

$table-row-active-background-color: $highlight;
$table-row-active-color: $black;
$table-striped-row-even-background-color: $gray-1;
$table-head-cell-border-width: 0 0 0;
$table-cell-border-width: 0 0 0;

// Tags

$tag-background-color: $turquoise;


// ===== COMPONENTS ===== //

// Card

// $card-background-color: $turquoise;

// Tabs

$tabs-link-active-color: $black;
$tabs-border-bottom-width: 4px;

// ===== Responsivity ===== //

// Associated Utilities

.is-hidden {
  display: none;
}

.is-hidden-screen {
  display: none;
  @media print { display: block; }
}

.is-hidden-print {
  display: block;
  @media print { display: none; }
}

.overflow--auto {
  overflow: auto;
}
