<h1 style="font-weight: bold; font-size: 14pt; margin: 0;">Deliverables</h1>
<hr style="margin-top: 0.25rem; margin-bottom: 1rem;"/>
<%= for vessel_fuel <- @auction.auction_vessel_fuels do %>
  <p style="margin-top: 0.75rem;"><b>Vessel:</b> <%= vessel_fuel.vessel.name %> (<%= vessel_fuel.vessel.imo %>)</p>
  <p style="margin-top: 0.25rem;"><b>Grade:</b> <%= vessel_fuel.fuel.name %></p>
  <p style="margin-top: 0.25rem;"><b>Quantity:</b> <%= vessel_fuel.quantity %> MT</p>
<% end %>
