<p style="margin-top: 0.25rem;"><b>Terminal:</b> <%= @auction.terminal %></p>
<p style="margin-top: 0.25rem;"><b>Start Month:</b> <%= @auction.start_date %></p>
<p style="margin-top: 0.25rem;"><b>End Month:</b> <%= @auction.end_date %></p>
