<p style='font-family: "Arial";'><b>Dear <%= full_name(@user) %>,</b></p>
<br/>
<p style='font-family: "Arial";'>A change has been made to Auction <%= @fixture.auction_id %> after the auction was closed.</p>
<br/>

<p style='font-family: "Arial";'><b>Fixture Changes</b></p>
<br>
<%= render_fixture_changes(@fixture, @changes, assigns) %>

<p style='font-family: "Arial";'><b>Comment:</b></p>
<p style='font-family: "Arial";'><%= @comment %></p>
<br/>

<%= render "_email_footer.html" %>


