<p style='font-family: "Arial";'><b>Dear <%= full_name(@user) %>,</b></p>
<br/>
<p style='font-family: "Arial";'>
  A fixture for Auction <%= @fixture.auction_id %> has been marked as delivered.
</p>
<br/>

<p style='font-family: "Arial";'><b>Delivered Fixture Values</b></p>
<br/>
<%= render_delivered_fixture_values(@fixture) %>

<%= render "_email_footer.html" %>


