<p style='font-family: "Arial";'><b>Dear <%= OceanconnectWeb.EmailView.full_name(@user) %>,</b></p>
<br/>
<p style='font-family: "Arial";'>To reset your password, please click the following link: </p>
<a href="<%= forgot_password_url(OceanconnectWeb.Endpoint, :edit, %{"token" => @token}) %>"><%= forgot_password_url(OceanconnectWeb.Endpoint, :edit, %{"token" => @token}) %></a>
<br/>
<br/>

<%= render "_email_footer.html" %>
