
<p style='font-family: "Arial";'><b>Dear <%= OceanconnectWeb.EmailView.full_name(@user) %>,</b></p>
<br/>
<p style='font-family: "Arial";'>The following code is needed to log into your account: <strong><%= @one_time_pass %></p>
<br/>
<br/>

<%= render "_email_footer.html" %>
