<div class="auction-app">
  <div class="auction-app__header auction-app__header--create container">
    <div class="content has-margin-top-lg">
      <h1 class="title has-text-weight-bold">Edit Auction</h1>
    </div>
  </div>

  <script> window.container = "edit";</script>
  <script> window.auctionId = <%= @auction.id %>;</script>

  <%= render "form.html", Map.put(assigns, :action, auction_path(@conn, :update, @auction)) %>
</div>
