<div class="auction-app">
  <div class="auction-app__header auction-app__header--form container is-fullhd">
    <div class="content has-margin-top-lg">
      <h1 class="title is-3 has-text-weight-bold">Create New Auction</h1>
    </div>
  </div>

  <script> window.container = "new";</script>
  <script> window.auctionId = null;</script>

  <%= render "form.html", Map.put(assigns, :action, auction_path(@conn, :create)) %>
</div>
