# App artifacts
/_build
/db
/deps
/*.ez
.env

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log
yarn-error.log


# Static artifacts
/assets/node_modules

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs

# API keys and such live in this file. It is required for deployment
# configuration to succeed, but obviously will not be versioned.
ansible/secrets.yml

# This file represents the git commit that has most recently been deployed
# on the local system, and thus shouldn't be versioned.
.deployed-version

# Browser screenshots from running tests with Hound.
screenshot-*.png
