// ========================== //
// ========================== //
// Auction
// ========================== //
// ========================== //

// Auction Headers

.auction-header {
  font-family: $family-header;
  font-weight: 700;

  // LEFT COLUMN

  &__status { // Auction Status (Open, Closed, Scheduled, Cancelled)
    margin-bottom: 0.5rem;
    color: $white !important;

    // Color Auction Status tags based on... auction status.
    &--open { background-color: $green !important; }
    &--pending { background-color: $teal !important; }
    &--completed { background-color: $gray-3 !important; }
  }
  &__po { // Auction PO
    margin-bottom: 0.125rem;
    color: $gray-3;
  }
  &__vessel { // Auction Vessel (informally the title)
    font-size: 'xs', 0.25;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    &__imo { // Auction Vessel IMO number
      color: $gray-3;
    }
  }

  // RIGHT COLUMN

  &__timer { // Auction Countdown Timer
    margin-bottom: 0.25rem;
    font-weight: normal !important;
    text-align: right;
  }

  &__start-time { // Auction Start Time
    margin-bottom: 0.25rem;
    font-weight: normal !important;
    text-align: right;
  }

  &__duration { // Auction Duration
    font-weight: normal !important;
    text-align: right;
  }

  // FOOTER... OF... HEADER?

  &__ports { // Auction Ports (i.e. where the vessel will be docking)
    // background-color: $gray-2;
    padding: 0.25rem 1rem;
    margin: 0 -1rem 1.5rem;

    span {
      font-size: 0.75rem;
    }
  }

}

// Auction Main Content Block

.auction-content {
  &> .columns.is-gapless > .column:first-child > .box {
    margin-right: 1rem;
    @media (max-width: 768px) {
      margin: 0 !important;
    }
  }
  &> .columns.is-gapless > .column:last-child > *:not(:first-child) {
    margin-left: 1rem;
    @media (max-width: 768px) {
      margin: 0 !important;
    }
  }
}

// Auction Time Remaining

.auction-timer {
  @extend .tag;
  width: 240px;
  font-size: 1rem !important;
  font-weight: bold;
  text-transform: uppercase;
  color: $white !important;
  transition: all 0.2s ease-in;

  // Color Auction Timer tags based on time remaining.
  &--under-1 { background-color: $danger !important; }
  &--under-3 { background-color: $gold !important; }
  &--active { background-color: $gray-3 !important; }
  &--in-decision { background-color: $gray-3 !important; width: 310px !important; }
  &--inactive { background-color: $gray-2 !important; color: $black !important; }
}
