// ========================== //
// ========================== //
// Auction
// ========================== //
// ========================== //

// Auction Listing (Overall layout elements)

.auction-list {
  &__time-box { // Container for clock and server time warning.
    display: flex;
    flex-direction: row;
    float: right;

    &> i {
      display: inline-block;
      margin-top: 0.25rem;
      margin-right: 1.75rem;
      margin-bottom: 0.5rem;
      color: #888;
      text-align: right;
    }

    &> .auction-header__connection-button { // Uhh... contextually tweak connection marker
      margin-top: 0.25rem;
    }
  }
  &__timer { // Date and time stamp at top of the page.
    @extend .tag, .is-rounded, .is-highlit, .is-medium;
    margin-right: 1rem;
    float: right;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 0.85rem !important;
    }

    &__clock {
      display: inline-block;
      width: 156px;
    }
  }
}

// Auction Card (Overall layout elements)

.auction-card {
  font-family: $family-header;
  font-weight: 700;

  // LEFT COLUMN

  &__status { // Auction Status (Open, Closed, Scheduled, Cancelled)
    @extend .tag, .is-rounded;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $white !important;

    // Color Auction Status tags based on... auction status.
    &--open { background-color: $green !important; }
    &--draft { background-color: $gray-3 !important; }
    &--pending { background-color: $teal !important; }
    &--closed { background-color: $gray-3 !important; }
  }

  &__time-remaining {
    display: inline-block;
    height: 1.7rem;
    padding: 0.1rem 1rem 0 0.5rem;
    margin-left: 0.75rem;
    margin-right: -1rem;
    border-top-right-radius: 0.85rem;
    border-bottom-right-radius: 0.85rem;
    transition: all 0.2s ease-in;
    overflow: hidden;

    .auction-card__status--open &{
      background-color: $gray-3 !important;
      color: $white !important;
      width: 150px !important;

      &--under-1 { background-color: $danger !important; width: 150px !important;}
      &--under-3 { background-color: $gold !important; width: 150px !important;}
    }

    .auction-card__status--decision &{
      background-color: $gray-3 !important;
      color: $white !important;
      width: 150px !important;

      &--under-1 { background-color: $danger !important; width: 150px !important;}
      &--under-3 { background-color: $gold !important; width: 150px !important;}
    }

    // Color Auction Status tags based on... auction status.
    &--under-1 { background-color: $danger !important; width: 150px !important;}
    &--under-3 { background-color: $gold !important; width: 150px !important;}
    &--active { background-color: $gray-3 !important; width: 150px !important;}
    &--in-decision { background-color: $gray-3 !important; width: 150px !important;}
    &--inactive { background-color: $gray-2 !important; color: $black !important;}
    &--closed { background-color: $gray-2 !important; color: $black !important;}

  }
  &__link-to-auction {
    margin-right: -0.5rem;
    float: right;
    color: $gray-3;
  }
  &__link-to-auction-edit {
    float: right;
    color: $gray-3;
  }
}
