// ========================== //
// ========================== //
// Auction
// ========================== //
// ========================== //

// Auction Listing (Overall layout elements)

.auction-list {
  &__time-box { // Container for clock and server time warning.
    display: flex;
    flex-direction: row;
    float: right;

    @media (max-width: 599px) {
      margin-bottom: 1rem;
    }

    &> i {
      display: inline-block;
      margin-top: 0.25rem;
      margin-right: 1.75rem;
      margin-bottom: 0.5rem;
      color: #888;
      text-align: right;
    }

    &> .auction-header__connection-button { // Uhh... contextually tweak connection marker
      margin-top: 0.25rem;
      @media (max-width: 768px) {
        margin-top: 0;
      }
    }
  }
  &__title {
    float: left;
    font-weight: bold !important;
    @media (max-width: 768px) {
      margin-top: 0.25rem !important;
    }
  }
  &__timer { // Date and time stamp at top of the page.
    @extend .tag, .is-rounded, .is-highlit, .is-medium;
    margin-right: 1rem;
    float: right;
    font-weight: bold;

    &--show {
      margin-left: 1rem;
      margin-right: -0.5rem !important;
    }

    @media (max-width: 599px) {
      font-size: 0.85rem !important;
      margin-right: 0;
    }

    &__clock {
      display: inline-block;
      width: 156px;
      @media (max-width: 599px) {
        width: 130px;
      }
    }
  }
  &__new-auction {
    @media (max-width: 599px) {
      clear: both;
    }
  }
}

// Auction Card (Overall layout elements)

.auction-card {
  font-family: $family-header;
  font-weight: 700;

  // LEFT COLUMN

  &__status { // Auction Status (Open, Closed, Scheduled, Cancelled)
    @extend .tag, .is-rounded;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $white !important;

    // Color Auction Status tags based on... auction status.
    &--open { background-color: $green !important; }
    &--draft { background-color: $gray-3 !important; }
    &--pending { background-color: $teal !important; }
    &--closed { background-color: $gray-3 !important; }
    &--canceled { background-color: $red !important; }
  }

  &__time-remaining {
    display: inline-block;
    height: 1.7rem;
    padding: 0.1rem 1rem 0 0.5rem;
    margin-left: 0.75rem;
    margin-right: -1rem;
    border-top-right-radius: 0.85rem;
    border-bottom-right-radius: 0.85rem;
    transition: all 0.2s ease-in;
    overflow: hidden;

    .auction-card__status--open &{
      background-color: $gray-3 !important;
      color: $white !important;
      width: 150px !important;

      &--under-1 { background-color: $danger !important; width: 150px !important;}
      &--under-3 { background-color: $gold !important; width: 150px !important;}
    }

    .auction-card__status--decision &{
      background-color: $gray-3 !important;
      color: $white !important;
      width: 150px !important;

      &--under-1 { background-color: $danger !important; width: 150px !important;}
      &--under-3 { background-color: $gold !important; width: 150px !important;}
    }

    // Color Auction Status tags based on... auction status.
    &--under-1 { background-color: $danger !important; width: 150px !important;}
    &--under-3 { background-color: $gold !important; width: 150px !important;}
    &--active { background-color: $gray-3 !important; width: 150px !important;}
    &--in-decision { background-color: $gray-3 !important; width: 150px !important;}
    &--inactive { background-color: $gray-2 !important; color: $black !important;}
    &--closed { background-color: $gray-2 !important; color: $black !important;}

  }
  &__link-to-auction {
    position: relative;
    margin-right: -0.5rem;
    color: $gray-3;

    &:hover:after {
      content: attr(action-label);
      position: absolute;
      background-color: $black;
      color: $white;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      z-index: 999;
      top: -24px;
      width: 87px;
      text-align: center;
      font-size: 0.75rem;
      left: -30px;
    }

    &:nth-child(2) { // Throw a margin-left: auto on this for when it's the only action button.
      margin-left: auto;
    }

    .auction-card__status--decision ~ &,  .auction-card__status--open ~ &, {
      margin-left: auto;
    }
  }
  &__link-to-auction-edit, &__link-to-auction-cancel {
    color: $gray-3;
    position: relative;

    &:hover:after {
      content: attr(action-label);
      position: absolute;
      background-color: $black;
      color: $white;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      z-index: 999;
      top: -30px;
      width: 87px;
      text-align: center;
      font-size: 0.75rem;
      left: -30px;
    }

    @media (max-width: 420px) {
      &.is-hidden-420 {
        display: none;
      }
    }
  }
  &__link-to-auction-edit {
    &:hover:after {
      width: 75px;
      left: -24px;
    }
  }
}

// Auction Listing Elements Ported to Auction Info

.auction-header .auction-list__timer {
  @media (min-width: 769px) {
    margin-top: -36px;
  }
}
