// ========================== //
// ========================== //
// Auction
// ========================== //
// ========================== //

// Auction Headers

.auction-header {
  font-family: $family-header;
  font-weight: 700;

  // LEFT COLUMN

  &> .columns > .column:first-child { // Tweak spacing from top for mobile.
    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__status { // Auction Status (Open, Closed, Scheduled, Cancelled)
    margin-bottom: 0.5rem;
    color: $white !important;

    @media (max-width: 768px) {
      margin-left: -0.5rem; // Visual adjustment to align edge of tag copy with vessel name
      margin-bottom: 0.75rem; // Give re-placed auction timer more space
    }

    // Color Auction Status tags based on... auction status.
    &--open { background-color: $green !important; }
    &--pending { background-color: $teal !important; }
    &--completed { background-color: $gray-3 !important; }

    // Additional adjustments for mobile pending auction view...
    &--pending {
      @media (max-width: 496px) {
        margin-top: 30px;
      }
    }
  }
  &__po { // Auction PO
    margin-bottom: 0.125rem;
    color: $gray-3;
  }
  &__vessel { // Auction Vessel (informally the title)
    @extend .is-size-3;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    &__imo { // Auction Vessel IMO number
      color: $gray-3;
    }
  }
  &__vessel-item { // List of vessels involved in auction
    display: inline-block;

    &:after {
      content: " ";
      white-space: pre;
    }
  }

  &__company { // Name of the Buyer (MOBILE ONLY)
    display: none;

    @media (max-width: 768px) {
      display: block;
      font-size: 0.85rem;
      margin: 0.25rem 0 0 0;
      font-weight: normal !important;
    }
  }

  // RIGHT COLUMN

  &__timer { // Auction Countdown Timer
    margin-bottom: 0.25rem;
    font-weight: normal !important;
    text-align: right;

    &--mobile {
      width: 161px;
      float: right;
      margin-right: -8px;
      margin-top: -6px;

      &--pending { // When you've got a pending auction in mobile...
        @media (max-width: 496px) and (min-width: 468px) {
          margin-top: 0px;
          clear: both;
        }
        @media (max-width: 467px) {
          margin-top: -42px;
          clear: both;
        }
      }
    }
  }

  &__connection { // Auction Connectivity Indicator
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: right;

    &> div {
      display: inline-flex;
      width: 1.675rem;
      border-radius: 50%;
    }
  }

  &__connection-button {
    display: inline-flex;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

    &> div {
      display: inline-flex;
      width: 1.675rem;
      border-radius: 50%;

      &.is-danger > i {
        position: relative;

        &:after { // Disconnected from server state
          display: block;
          content: "|";
          transform: rotate(43deg);
          position: absolute;
          top: -5px;
          left: 6px;
          font-weight: bold;
          font-size: 1.3rem;
          text-shadow: -1px -1px 0 $red, 1px -1px 0 $red, -1px 1px 0 $red, 1px 1px 0 $red;
        }
      }
    }
  }

  &__start-time { // Auction Start Time
    margin-bottom: 0.25rem;
    font-weight: normal !important;
    text-align: right;

    @media (max-width: 768px) {
      margin-top: -0.5rem;
    }
  }

  &__duration { // Auction Duration
    font-weight: normal !important;
    text-align: right;
  }

  // EMPTY MOBILE COLUMN...?

  .column:empty {
    display: none;
  }

  // FOOTER... OF... HEADER?

  &__ports { // Auction Ports (i.e. where the vessel will be docking)
    // background-color: $gray-2;
    padding: 0.25rem 1rem;
    margin: 0 -1rem 0;

    span {
      font-size: 1rem;
    }

    &--mobile { // Styles for relocated mobile variant of the port and ETA.
      padding: 0.25rem 1.5rem;
      margin: 0.5rem -1.5rem 0;
      background-color: $gray-2;
      font-size: $size-6;

      @media (min-width: 769px) {
        display: none;
      }
    }
  }
}

// Auction Main Content Block

.auction-content {
  &> .columns.is-gapless > .column:first-child > .box {
    margin-right: 1rem;
    @media (max-width: 768px) {
      margin: 0 !important;
    }
  }
  &> .columns.is-gapless > .column:last-child > *:not(:first-child) {
    margin-left: 1rem;
    @media (max-width: 768px) {
      margin: 0 !important;
    }
  }
}

// Auction Tabs (Mobile)

.auction-content[data-tabs] { // Target auction content tab container
  @media (max-width: 768px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

// Auction Time Remaining

.auction-timer {
  @extend .tag;
  width: 240px;
  font-size: 1rem !important;
  font-weight: bold;
  text-transform: uppercase;
  color: $white !important;
  transition: all 0.2s ease-in;

  // Color Auction Timer tags based on time remaining.
  &--under-1 { background-color: $danger !important; }
  &--under-3 { background-color: $gold !important; }
  &--active { background-color: $gray-3 !important; }
  &--in-decision { background-color: $gray-3 !important; width: 310px !important; }
  &--inactive { background-color: $gray-2 !important; color: $black !important; }
}

.auction-timer--mobile {
  width: 130px;
  font-size: 0.85rem !important;
  &.auction-timer--in-decision {
    width: 130px !important;
  }
}

// Auction Tables

// Empty Table Stand-In

.auction-table-placeholder {
  margin: 1.25rem 0 0 0;
  padding: 0.5rem 1rem;
  background-color: $gray-1;
}

// Auction Bid box

.auction-bidding {
  @media (min-width: 768px) and (max-width: 1024px) {
    max-height: 93vh;

    .body--admin & {
      max-height: 85vh;
    }
  }


  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    margin: 0 -1rem;
    margin-bottom: 0 !important;
    padding-top: 1rem;
    width: 100vw;
    background-color: $gray-1;
  }
}

.auction-bidding__form-body {
  padding-bottom: 1.5rem;

  @media(max-width: 768px) {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.auction-bidding.box {
  background-color: $gray-1;
}

.auction-bidding__label-addendum {
  display: inline-block;
  color: $gray-3;
  font-weight: normal;
  font-style: italic;
  font-size: $size-6;
  line-height: 1.25;

  @media (max-width: 768px) {
    margin-left: 0.5rem;
  }
}

.auction-bidding--pending { // Adjust how children fit when there's no proper box parent for the bid box.
  // margin: 1.25rem -1.275rem -1rem -1.275rem;
  box-shadow: none;
  border: 1px solid $gray-2;

  @media (max-width: 768px) {
    margin: 0 -2.25rem;
  }
}

.auction__bid-amount {
  display: inline-block;

  &:not(:only-child) {
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.auction__traded-bid-tag {
  display: inline-block;
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: $gray-3;
  color: $white;
  font-size: 0.85rem;
  vertical-align: middle;

  @media(max-width: 768px) and (min-width: 480px) {
    span { // Hide text when on mobile.
      display: none;
    }
  }
}

.auction__traded-bid-tag__container {
  &:not(:last-child) > span > span {
    margin-bottom: 0.25rem;
  }
}

.auction__traded-bid-marker {
  position: relative;
}

.auction__traded-bid-accepted-marker {
  position: relative;

  &:hover:after {
    content: attr(action-label);
    position: absolute;
    background-color: #363636;
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    z-index: 999;
    top: -29px;
    width: 128px;
    text-align: center;
    font-size: 0.75rem;
    left: -39px;
    font-family: $family-sans-serif;
  }
}

.traded-bid-help-text {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: $white;
}

.revoke-bid__status {
  font-family: $family-sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
.revoke-bid__button {
  position: relative;
  background-color: $gray-2 !important;
  &:hover, &:focus {
    background-color: darken($gray-2, 5%) !important;

    &:after {
      display: block;
      position: absolute;
      content: "Revoke Bid";
      background-color: $black;
      color: $white;
      border-radius: $radius;
      padding: 0.25rem 0.5rem;
      top: -2rem;
      text-transform: capitalize;
      font-family: $family-sans-serif;
      font-size: 0.75rem;
    }
  }
}

.auction__nonsplittable-bid-tag {
  display: inline-block;
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: $gray-3;
  color: $white;
  font-size: 0.85rem;
  vertical-align: middle;

  @media(max-width: 768px) and (min-width: 480px) {
    span { // Hide text when on mobile.
      display: none;
    }
  }
}

.auction__split-bid-help {
  position: relative;

  &:hover:after, &:focus:after {
    content: attr(action-label);
    position: absolute;
    background-color: #363636;
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    z-index: 999;
    top: -47px;
    width: 128px;
    text-align: center;
    font-size: 0.75rem;
    left: -58px;
    line-height: 1.3;
    font-family: $family-sans-serif;
  }
}
