// ========================== //
// ========================== //
// Alerts
// ========================== //
// ========================== //

.alert {
  @extend .notification;
  position: sticky;
  top: 0;
  margin: 1rem 1rem 0 1rem;

  .body--admin & {
    top: 0;
  }

  &:empty {
    display: none;
  }
  body >&, #auctions-app >& { // For direct, top-level alerts
    margin: 0 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    top: 60px;
    left: auto;
    right: auto;

    &:empty {
      display: none;
    }
  }

  body.body--admin >& {
    top: 112px;
  }

  #auctions-app >& { // For show page-specific alerts.
    top: 13px;
  }

  body.body--admin #auctions-app >& {
    top: 115px;
  }
  .content >& {
    margin-bottom: 1rem;

    .help {
      margin-top: 0;
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
}

.alert--inline {
  display: inline-block;
  margin: 0 0 2.5rem 0 !important;
  padding: 0.5rem 1rem 0.75rem 1rem;
}

.alert--inline-flex {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.alert-info {
  @extend .is-info;
}

.alert-danger {
  @extend .is-danger;
}
