// ========================== //
// ========================== //
// Alerts
// ========================== //
// ========================== //

.alert {
  @extend .notification;

  &:empty {
    display: none;
  }
  body >&, #auctions-app >& { // For direct, top-level alerts
    margin: 0 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    top: 60px;
    left: auto;
    right: auto;

    &:empty {
      display: none;
    }
  }
  #auctions-app >& { // For show page-specific alerts.
    top: 13px;
  }
  .content >& {
    margin-bottom: 1rem;

    .help {
      margin-top: 0;
      font-size: 1rem;
    }
  }
}

.alert-info {
  @extend .is-info;
}

.alert-danger {
  @extend .is-danger;
}
