// ========================== //
// ========================== //
// Box
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

// Additions

.box--bordered-left { // For boxes with a heavy turquoise left border...
  border-left: 10px solid $turquoise;
}

.box--margin-bottom {
  margin-bottom: 1.5rem !important;
}

.box {
  &__subsection { // When a box element has multiple sections
    padding: 0.75rem 1.25rem 1rem;
    margin: 0 -1.25rem;

    &:first-child {
      padding-top: 0;
    }
    &:nth-child(even) {
      background-color: $gray-1;
    }

    &--bordered { // For those subsections needing a border demarcation...
      border-top: 1px solid $gray-2;
    }

    &--base { // Get last .box__subsection flush with the base of the box.
      margin-bottom: -1.25rem;
    }
  }
  &__header { // Headers for a box element
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $family-header;

    &--bordered { // When a box header has an underline for additional separation
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      padding: 0 1.25rem;
      border-bottom: 4px solid $turquoise;
    }
  }
  &__icon-marker {
    display: inline-block;
    margin:  -0.5rem 0.25rem 0 -0.25rem;
  }
}

.box--nested-base { // Variant of .box__subsection adapted because React...
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 0.75rem 1.25rem 1rem;
  margin: -0.25rem 0 0 0;

  &:first-child {
    padding-top: 0;
  }

  &--base { // Get last .box__subsection flush with the base of the box.
    margin-bottom: -1.25rem;
  }

  &--extra-nested { // Box nested in a nested box... I need a new name
    margin-top: -7px;
    margin-bottom: 1.25rem;
  }
}

.box--best-solution-comment { // Ehhh, React wrangling for the nested best solution comment field.
  margin: 0.5rem -1rem -0.5rem -1rem;
  border: 0px solid transparent;
  box-shadow: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &--completed { // For the completed auctions with comments.
    margin: 1rem -1.25rem -1.25rem -1.25rem !important;
  }
}
