// ========================== //
// ========================== //
// Card
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.card--auction { // Card elements on the auction index page
  &> div:last-child {

    // For when we have invite acceptance and invited supplier listings implemented...
    // margin-bottom: -0.5rem;

    // ... but in the meantime...
    margin-bottom: 0.5rem;

    &.card-content__bid-status{
      margin-bottom: -0.5rem;
    }
  }
}

.card-content {
  padding: 1rem 1rem 0 1rem;
}

.card-footer {
  background-color: $gray-1;

  a:hover, a:focus {
    background-color: darken($gray-1, 5%);
  }
}

.card--draft { // Card with special diagonal-hatched background
  background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, rgba($gray-1,.5) 16px, rgba($gray-1,.5) 32px);
}

// Additions

.card-title {
  margin: 1rem 0;
  padding: 0 1rem;

  h3 {
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    margin: 0.5rem 0;
  }
}

.card-content__bid-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: $gray-3;
  color: $white;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: -1rem;
}

.card-content__best-bidder {
  width: calc(100% - 25px);
  display: flex;
  vertical-align: middle;

  &--winner {
    width: calc(100% - 25px);
  }

  &__name { // containing span that'll cut to ellipsis
    flex-shrink: 1;
    padding-left: 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__count { // containing span that'll cut to ellipsis
    flex-shrink: 0;
    padding-left: 0.25rem;
  }
}

.card-content__best-price {
  display: inline-block;
  float: right;
  flex: none;
  background-color: $highlight;
  color: $black !important;
  padding: 0.25rem 0.75rem;
  margin: 0 0 0 auto;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card-content__products {
  background-color: $gray-2;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}

.card-content__product-header {
  display: block;
  font-weight: bold;
  padding: 0 0.5rem;
}

.card-content__product {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 0;
  padding: 0 0 0 1rem;
  font-weight: bold;
  align-items: center;
  background-color: $white;
  border-radius: 3px;

  .fuel-name {
    max-width: calc(100% - 124px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .fuel-amount {
    padding: 0 0.5rem 0 0.25rem;
  }

  @media (max-width: 768px) {
    margin-top: 0.5rem;

    &+ .card-content__product {
      margin-top: 0.75rem;
    }
  }
}

.card-content__bid {
  background-color: $gray-2;
  margin: 0 0;
}

.card-content__bid__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $family-header;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-top: 1px solid $gray-2;
}

.card-content__auction-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-weight: bold;
  background-color: $gray-1;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0 0 0 0;
}

.card-content__rsvp {
  display: flex;
  align-items: center;
  margin: 0 -0.25rem 0 0;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: $white;
}

.card-content__change-rsvp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -0.75rem;
}

.card-footer-item {
  &.is-link {
    background-color: $teal;
    border-color: transparent;
    color: #fff;

    &:hover, &:focus {
      background-color: darken($teal, 5%);
      border-color: transparent;
      color: #fff;
    }
  }
}

.card__start-auction { // Temporary Auction Start Button

  span {
    display: inline-block;
    margin-right: 4px !important;
  }
}

.card__traded-bid-marker {
  position: relative;

  &:hover:after {
    content: attr(action-label);
    position: absolute;
    background-color: #363636;
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    z-index: 999;
    top: -29px;
    width: 128px;
    text-align: center;
    font-size: 0.75rem;
    left: -39px;
    font-family: $family-sans-serif;
  }
}
