// ========================== //
// ========================== //
// Card
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.card-content {
  padding: 1rem;
}

.card-footer {
  background-color: $gray-1;

  a:hover, a:focus {
    background-color: darken($gray-1, 5%);
  }
}

// Additions

.card-title {
  margin: 1rem 0;
}

.card-content__best-price {
  background-color: $highlight;
  padding: 0.5rem 1rem;
  margin: 0.75rem -1rem -0.25rem -1rem;
}

.card-footer-item {
  &.is-link {
    background-color: $teal;
    border-color: transparent;
    color: #fff;

    &:hover, &:focus {
      background-color: darken($teal, 5%);
      border-color: transparent;
      color: #fff;
    }
  }
}
