// ========================== //
// ========================== //
// Card
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.card-footer {
  background-color: $gray-1;

  a:hover, a:focus {
    background-color: darken($gray-1, 5%);
  }
}

// Additions

.card-title {
  margin: 0 -1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: $gray-2;
}
