// ========================== //
// ========================== //
// Container
// ========================== //
// ========================== //

// Associated Variables

// Adaptations

.columns.is-gapless > .column {
    margin: 0px;
    padding: 0px;
    padding-bottom: 1rem !important;
}

// Additions
