// ========================== //
// ========================== //
// Forms
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.field {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.field.is-grouped { // Kick form fields onto separate row from labels.
  flex-wrap: wrap;

  label {
    flex-basis: 100%;
  }

  &> .control:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .is-grouped { // Keeping time selects together in Create Auction
    display: flex;

    & .control:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}

.control.is-expanded { // The proper Bulma class doesn't seem to compile with the rest, so here's a shim for the meantime.
  width: 100%;
}


.label {
}

// Additions

fieldset {
  max-width: 750px;
  border: none;
}

.select__extra-label { // Additional text following an "inline" select.
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.is-caption { // When a form field has additional annotation (See: Port Local Time)
  margin-top: -16px;
  margin-bottom: 16px;
  display: block;
}
