// ========================== //
// ========================== //
// Forms
// ========================== //
// ========================== //


// Associated Variables

$navbar-background-color: $primary;

// Adaptations

.form {
  max-width: 750px;
}

.label {
}

.is-datepicker { // For datepicker elements
  &:after { display: none !important; }
  vertical-align: middle;

  select {
    margin: 0 0.5rem;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}
