// ========================== //
// ========================== //
// Forms
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.field {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.field--ribbon {
  margin: -0.5rem -1.25rem 0 -1.25rem;
  padding: 0.5rem 1rem;
  background-color: $gray-2;

  .field-label {
    margin-right: 0.25rem;
    flex-grow: 0;
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

.field-body--distribute-middle {
  align-items: center;
}

.field-body--columned {
  flex-direction: column;

  .field {
    margin-bottom: 0.5rem;
  }
}

.field-body__note {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: $gray-1;
  border-radius: 3px;
  max-width: 21rem;

}

.field.is-grouped { // Kick form fields onto separate row from labels.
  flex-wrap: wrap;

  label {
    flex-basis: 100%;
  }

  &> .control {
    width: 100%;
  }

  &> .control:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.field.is-horizontal > .field-body { // Keeping time selects together in Create Auction

  &> .control:not(:last-child) {
    margin-right: 0.75rem;
  }

  @media (max-width: 768px) {
    &> .control:last-child {
      margin-top: 0.5rem;
    }
  }
}

.field-body--wrapped { // Allow line breaks in field body
  flex-flow: row wrap;
}

.field-body--select { // Special styling for multi-selects.
  display: flex;
  flex-direction: column;

  &> div {

    &.selected-list--vessels {
      max-width: 300px;
      flex-grow: 0;
      &+ .control {
        max-width: 300px;
        margin-top: 0 !important;
      }
    }
    &.selected-list--fuels {
      max-width: 400px;
      flex-grow: 0;
      &+ .control {
        max-width: 400px;
        margin-top: 0 !important;
      }
    }
  }
}

.control.is-expanded { // The proper Bulma class doesn't seem to compile with the rest, so here's a shim for the meantime.
  width: 100%;
}


.label {
}

// Additions

fieldset {
  max-width: 750px;
  border: none;
}

.content h3.form-group__header {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.select__extra-label { // Additional text following an "inline" select.
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.select--transparent { // Transparent background select for use on colored backgrounds
  select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff !important;

    &:hover, &:focus {
      border-color: #f3f3f3;
    }
  }
  &::after {
    border-color: #fff !important;
  }
}

.is-caption { // When a form field has additional annotation (See: Port Local Time)
  margin-top: -9px;
  margin-bottom: 16px;
  margin-left: 2px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkbox--flex { // Align items so the checkbox doesn't look jank when using flex display for checkbox form elements
  display: flex;
  align-items: baseline;
}

.selected-list {
  margin-top: -0.5rem;
  margin-bottom: 0rem !important;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
  border: 1px solid $gray-2;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  &:empty { display: none; }

  &:not(:empty) + .control > .select > select {
    margin-top: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &--vessels, &--fuels {
    padding-bottom: 0;

    &>div {
      margin: 0.5rem -0.75rem;
      padding: 0.75rem;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &>div:nth-child(even) {
      background-color: $gray-1;
    }
  }
  &--vessels { // Specific adaptations for Vessels...
    padding-top: 0;
    margin-top: -10px;

    &>div:first-child {
      margin: 0 -0.75rem;
      padding: 0.75rem;
    }
    &>div:not(:first-child) {
      margin: 0 -0.75rem;
      padding: 0.75rem;
    }
  }
}

.selected-list__item-delete {
  margin-left: auto;
  padding-left: 0.75rem;
  color: $gray-3;

  &:hover, &:focus {
    color: darken($gray-3, 20%);
  }
}

.selected-list__sublist {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .field-label {
    flex-grow: 3;
  }
}

.is-flex-wrapped {
  flex-flow: row wrap;
}
.is-flex-column {
  flex-direction: column;
}
