// ========================== //
// ========================== //
// Layout
// ========================== //
// ========================== //

// ======= CONTAINER ======= //

main {
  margin-top: 8rem;

  .alert + &{
    margin-top: 10rem;
  }
}

.container {
  padding: 0 1rem;
}

// ==== SECTIONS/DIVIDERS ==== //

main {
  position: fixed;
  top: 3.25rem;
  width: 100vw;
  height: calc(100vh - 3.25rem);
  overflow-y: scroll;
}

section {
  &.auction-list { // Bunker list divisions based on auction status.
    padding-bottom: 1.25rem;

    &:last-child {
      padding-bottom: 4rem;
    }

    &> .container:first-child {
      padding-top: 2rem !important;
    }

    .empty-list {
      background-color: $gray-0;
      padding: 1rem;
      text-align: center;
    }

    &:nth-child(even) {
      background-color: $gray-0;

      .empty-list {
        background-color: white;
      }
    }
  }
  &.auction-info { // Form divisions for Auction Create/Edit
    &:nth-child(even) {
      background-color: $gray-0;

      .empty-list {
        background-color: white;
      }
    }
  }
}

.auction-page { // For container-agnostic classes
  padding: 0 1rem;

  &.auction-page--gray {
    background-color: $gray-0;

    .empty-list {
      background-color: white;
    }
  }
}
