// ========================== //
// ========================== //
// Links
// ========================== //
// ========================== //

.link--forgot-password {
  display: inline-block;
  margin-top: 1rem;
  color: $gray-3;
  font-style: italic;
}
