// ========================== //
// ========================== //
// Links
// ========================== //
// ========================== //

.link--forgot-password, .link--resend-auth {
  display: inline-block;
  margin-top: 1rem;
  color: $gray-3;
  font-style: italic;
}

.link--notification {
  display: block;
  padding: 1rem;
  background-color: $turquoise;
  color: $white;
  border-radius: $radius;
  font-weight: bold;
  text-align: center;

  &:hover, &:focus {
    background-color: darken($turquoise, 5%);
    color: $white;
  }
}
