// ========================== //
// ========================== //
// Lists
// ========================== //
// ========================== //


// ===== FRESH UTILITIES ===== //

ul.list {

// Unordered List (No bullets)

 &.has-no-bullets {
   background-color: transparent;
   box-shadow: none;
   margin-top: 0;
   margin-left: 0;
   list-style: none;

   &> li {
     display: flex;

     strong {
       display: inline-block;
       margin-right: 0.5rem;
     }

     .icon { // Keep icon bullets positioned evenly.
       width: 20px;
       justify-content: left;
       flex-shrink: 0;
     }

     @media (max-width: 768px) {
       font-size: 1rem;

       strong {
         display: block;
       }
       span strong {
         display: inline-block;
       }
     }

     &.is-not-flex { // For list items that should just be inline with their labels.
       display: block;
     }
   }

   & li:not(:last-child) {
     margin-bottom: 0.25rem;
   }
 }
}
