// ========================== //
// ========================== //
// Lists
// ========================== //
// ========================== //


// ===== FRESH UTILITIES ===== //

ul.list {

// Unordered List (No bullets)

 &.has-no-bullets {
   margin-top: 0;
   margin-left: 0;
   list-style: none;

   &> li {
     display: flex;

     strong {
       display: inline-block;
       margin-right: 0.5rem;
     }
   }

   & li:not(:last-child) {
     margin-bottom: 0.25rem;
   }
 }

}
