// ========================== //
// ========================== //
// Table
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #fff;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n-1) {
  background-color: $gray-1;
}

// Additions

.table--lowest-bid {
  counter-reset: rowNumber - 1;

  tr {
      counter-increment: rowNumber;
  }

  tr td:first-child::before {
      content: counter(rowNumber);
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.75rem;
      background-color: $turquoise;
      color: $white;
      font-weight: 700;
      min-width: 1em;
      margin-right: 0.5em;
      text-align: center;
  }
}

.table.is-marginless {
  margin: 0 -1.25rem 1.5rem -1.25rem !important;
  width: calc(100% + 2.5rem);

  &:last-child {
    margin-bottom: 0 !important;
  }

  tr td:first-child, tr th:first-child {
    padding-left: 1.25rem;
  }
  tr td:last-child, tr th:last-child {
    padding-right: 1.25rem;
  }
}

// Custom Tables

// Supplier Bid History

.table--supplier-bid-history, .table--grade-display {
  thead tr, tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    th, td {
      &:nth-child(2) { // Amount
        margin-left: auto;
        flex: 0 0 13rem;
      }
      &:last-child { // Time
        flex: 0 0 6rem;
      }
    }
  }
  @media (max-width: 768px) and (min-width: 480px) {
    thead tr, tbody tr {
      th, td {
        &:nth-child(2) { // Amount
          flex: 0 0 8rem;
        }
      }
    }
  }
  @media (max-width: 480px) {
    thead tr, tbody tr {
      flex-direction: column;
      padding: 0.5rem 1rem;
      th, td {
        padding: 0;
        &:first-child {
          padding-left: 0rem !important;
          font-weight: bold;
        }
        &:nth-child(2) { // Amount
          margin-top: 0.5rem;
          margin-left: 0;
          flex: 0 0 auto;
        }
        &:last-child { // Time
          flex: 0 0 auto;
        }
      }
      th:not(:first-child) { // Hide non-lead headers in mobile
        display: none;
      }
    }
    thead tr {
      border-bottom: 3px solid $gray-3;
    }
  }
}


.auction-solution__product-table {
  width: calc(100% + 2rem);
  margin: 0.5rem -1rem 0 -1rem !important;
  padding-top: 0.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-1;
  }
  thead tr {
    border-bottom: 2px solid $gray-3;
  }
  thead tr th {
    font-weight: bold;
  }
  tbody {
    border-top: 3px solid $gray-3;
  }
  thead tr, tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    td {
      &.auction-solution__product-table__vessel { // Amount
        flex: 0 0 12rem;
      }
      &.auction-solution__product-table__bid { // Bid
        margin-left: auto;
        flex: 1 0 15rem;
      }
      &.auction-solution__product-table__bid--custom { // Custom Bid
        margin-left: auto;
        flex: 0 0 25rem;
        position: relative;
      }
      &.auction-solution__product-table__supplier { // Supplier
        flex: 1 0 12rem;
      }
      &.auction-solution__product-table__bid-time { // Time
        flex: 0 0 6rem;
      }
      &.auction-solution__product-table__revoke { // Revoke Bid
        display: table-cell;
      }
      &.auction-solution__product-table__vessel .auction-solution__product-table__revoke { // Nested Revoke Bid
        display: none;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1400px) {
    thead tr, tbody tr {
      th, td {
        &.auction-solution__product-table__vessel { // Amount
          flex: 0 0 auto;
        }
        &.auction-solution__product-table__bid { // Amount
          margin-left: auto;
          flex: 0 0 9rem;
        }
      }
    }
  }
  @media (max-width: 768px) and (min-width: 480px) {
    thead tr, tbody tr {
      th, td {
        &.auction-solution__product-table__vessel { // Amount
          flex: 0 1 10rem;
        }
        &.auction-solution__product-table__bid { // Amount
          flex: 0 0 9rem;
        }
        &.auction-solution__product-table__supplier { // Supplier
          flex: 1 0 9rem;
        }
        &.auction-solution__product-table__revoke { // Revoke Bid
          display: table-cell;
        }
        &.auction-solution__product-table__vessel .auction-solution__product-table__revoke { // Nested Revoke Bid
          display: none;
        }
      }
    }
  }
  @media (max-width: 480px), (max-width: 940px) and (min-width: 768px) {
    thead tr, tbody tr {
      flex-direction: column;
      padding: 0.5rem 1rem;
      th, td {
        padding: 0;
        &.auction-solution__product-table__vessel {
          display: flex;
          flex: 0 0 auto;
          padding-left: 0rem !important;
          font-weight: bold;
        }
        &.auction-solution__product-table__bid  { // Amount
          margin-top: 0.5rem;
          margin-left: 0;
          flex: 0 0 auto;
        }
        &.auction-solution__product-table__supplier { // Supplier
          flex: 0 0 auto;
        }
        &.auction-solution__product-table__bid-time { // Time
          flex: 0 0 auto;
        }
        &.auction-solution__product-table__revoke { // Revoke Bid
          display: none;
        }
        &.auction-solution__product-table__vessel .auction-solution__product-table__revoke { // Nested Revoke Bid
          display: inline !important;
        }
      }
      th:not(.auction-solution__product-table__vessel) { // Hide non-lead headers in mobile
        display: none;
      }
    }
  }
}

.auction-solution__product-table--custom { // Adaptations for the custom solution table.
  tbody tr td.auction-solution__product-table__bid-time {
    display: none;
  }
  tbody tr td.auction-solution__product-table__bid--custom {
    @media (max-width: 768px) and (min-width: 480px) {
      flex: 0 1 30rem;
    }
  }
}
