// ========================== //
// ========================== //
// Table
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #fff;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n-1) {
  background-color: $gray-1;
}

// Additions

.table--lowest-bid {
  counter-reset: rowNumber - 1;

  tr {
      counter-increment: rowNumber;
  }

  tr td:first-child::before {
      content: counter(rowNumber);
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.75rem;
      background-color: $turquoise;
      color: $white;
      font-weight: 700;
      min-width: 1em;
      margin-right: 0.5em;
      text-align: center;
  }
}

.table.is-marginless {
  margin: 0 -1.25rem 1.5rem -1.25rem !important;
  width: calc(100% + 2.5rem);

  &:last-child {
    margin-bottom: 0 !important;
  }

  tr td:first-child, tr th:first-child {
    padding-left: 1.25rem;
  }
  tr td:last-child, tr th:last-child {
    padding-right: 1.25rem;
  }
}
