// ========================== //
// ========================== //
// Tabs
// ========================== //
// ========================== //


// Associated Variables

$tabs-link-active-color: $black;
$tabs-border-bottom-width: 4px;

// Adaptations

.tabs a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

// Additions
