// ========================== //
// ========================== //
// Tags
// ========================== //
// ========================== //


// Associated Variables

// Adaptations

.tag {
  font-family: $family-header;
  text-transform: uppercase;
}

// Additions

.tag__timer {
  display: inline-block;
  width: 66px;
  text-align: center;
}
