// ========================== //
// ========================== //
// Titles
// ========================== //
// ========================== //


.title {
  font-family: $family-header;
  font-size: inherit;

  .content > &:only-child {
    margin-bottom: 1.5rem;
  }
}


// Header Default Sizes
// @extends from font size utilities ensure responsivity.

h1.title {
  @extend .is-size-3;
  text-align: left !important;
}

h2.title {
  text-align: left !important;
  @extend .is-size-5;
}

h3.title {
  @extend .is-size-6;
  // text-align: left !important;
}

h4.title {
  // text-align: left !important;
}
