@media print {
  body {
    font-size: 75%;
  }

  header { display: none; }

  main > .container {
      padding: 1rem 2rem 0 2rem !important;
  }
  .alert {
    display: none;
  }
  main {
    position: static !important;
    height: auto !important;
    width: 100%;
  }
  table.is-hidden-desktop {
    display: none;
  }

  .report__logo--print {
    height: 0.5in;
    width: auto;
    margin-left: -1rem;
  }
}
