// ========================== //
// ========================== //
// AUCTION BARGING
// ========================== //
// ========================== //

// Associated Variables

// Blocks

.auction-barging {
  border-top: 1px solid $gray-2;
  margin: 1rem -1rem 0;
  padding: 1rem;
}

.auction-barging__container {
  background-color: $gray-1;
  margin: 0 -1.32rem;
  border-radius: 0;
  padding: 0.25rem 1rem;

  &> div:first-child { // Make sure there's proper margining for the top barge list category.
    margin-top: 0.5rem;
  }
}

.auction-barging__barge { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  padding: 0.75rem 0 !important;
  background-color: $white;
  border-radius: 3px;

  > .container {
    width: auto;
  }

  & .container:nth-child(2) {
    border-top: 1px solid $gray-1;
    transition: all 300ms ease-in !important, border-top-color 100ms ease-in !important;
  }

  &.is-open .container:nth-child(2) {
    border-top-color: $gray-1;
  }

  &.is-closed .container:nth-child(2) {
    border-top-color: transparent;
  }

  & .content h2 {
    transition: margin-bottom 300ms ease-in;
  }

  .auction-barging__barge__trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .auction-barging__barge__trigger > span.collapsible-section__counter {
    display: none;
  }
  .auction-barging__barge__trigger > span:first-child { // Ersatz header. Probably a little brittle.
    font-size: 1rem;
    font-weight: bold;
  }
  .auction-barging__barge__trigger > span:last-child { // Toggle button. Probably a little brittle.
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .auction-barging__barge__toggle {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .auction-barging__barge__title {
    margin-right: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
  }
  .auction-barging__barge__status {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .auction-barging__barge__content {
    margin-top: 1rem;
    margin-left: auto;

    p {
      margin-left: 1.25rem;
      margin-bottom: 0.25rem !important;
    }
  }
}

h2.auction-barging__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}

// ========================== //
// ========================== //
// COLLAPSING BARGE VARIANT
// ========================== //
// ========================== //

h2.collapsing-barge__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}

.collapsing-barge {
  border-top: 1px solid $gray-2;
  margin: 1rem -1rem 0;
  padding: 1rem;
}

.collapsing-barge__container {
  background-color: $gray-1;
  margin: 0 -1.32rem;
  border-radius: 0;
  padding: 0.25rem 1rem;
}

.collapsing-barge__barge { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  padding: 0;
  background-color: $white;
  border-radius: 3px;

  > .container {
    width: auto;

    &> .content {
      display: flex;
      align-items: center;
    }
  }

  & .container:nth-child(2) {
    border-top: 1px solid $gray-1;
    transition: all 300ms ease-in !important, border-top-color 100ms ease-in !important;
  }

  &.is-open .container:nth-child(2) {
    border-top-color: $gray-1;
  }

  &.is-closed .container:nth-child(2) {
    border-top-color: transparent;
  }

  & .content h2 {
    display: flex;
    margin: 0.5rem 0;
    padding: 0.5rem 0.25rem 0.5rem 0;
  }

  .collapsing-barge__barge__trigger > .collapsible-section__category-icon { // Ersatz header. Probably a little brittle.
    margin-right: 0.5rem;
    font-size: 1rem;
    color: $gray-3;

    &--approved { color: $green };
    &--rejected { color: $red };
    &--pending { color: $gray-3 };
    &--available { display: none };
  }
  .collapsing-barge__barge__trigger > .collapsible-section__title { // Ersatz header. Probably a little brittle.
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: capitalize;
  }
  .collapsing-barge__barge__trigger > .collapsible-section__toggle-icon { // Toggle button. Probably a little brittle.
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .collapsing-barge__barge__toggle {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .collapsing-barge__barge__title {
    margin-right: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .collapsing-barge__barge__status {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .collapsing-barge__barge__button {
    flex-shrink: 0;
    margin: 0.5rem 0 0.5rem auto;

    &--toggle {
      margin-right: 1rem;
    }

    a {
      color: $gray-3;
      transition: color 0.1s ease-in;
      &:hover, &:focus {
        color: darken($gray-3, 20%);
      }
    }
  }
  .collapsing-barge__barge__button--toggle button {
    position: relative;
    width: calc(100% + 1.5rem);
    text-align: right !important;
    border-radius: 20px;
    box-shadow: inset 0 2px 3px rgba(54, 54, 54, 0.1), 0 0 0 1px rgba(54, 54, 54, 0.1);
    transition: background-color 0.1s ease-in;

    span {
      display: inline-block;
    }

    &.is-danger:hover, &.is-danger:focus {
      background-color: darken($danger, 2%) !important;
    }

    &.is-success:hover, &.is-success:focus {
      background-color: darken($success, 2%) !important;
    }

    &:before {
      content: '';
      top: auto;
      width: 1.5rem;
      border-radius: 20px;
      height: calc(100% - 0.25rem);
      position: absolute;
      background-color: $gray-1;
      box-shadow: 0 2px 3px rgba(54, 54, 54, 0.1), 0 0 0 1px rgba(54, 54, 54, 0.1);
    }

    &:hover:before, &:focus:before {
      background-color: darken($gray-1, 5%);
    }

    &.is-danger {
      &:before {
      left: auto;
      right: 0.125rem;
      }
      span { margin-right: auto; }
    }
    &.is-success {
      &:before {
        right: auto;
        left: 0.125rem;
      }
      span { margin-left: auto; }
    }
  }

  .collapsing-barge__barge__content {
    margin: 1rem 0 1rem auto;

    p {
      margin-left: 1.25rem;
      margin-bottom: 0.25rem !important;
    }
  }
}

h2.collapsing-barge__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}


@media (max-width: 1216px) and (min-width: 768px) {
  .collapsing-barge__barge > .container > .content {
    flex-direction: column;
    align-items: flex-start;

    .collapsing-barge__barge__trigger {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .collapsing-barge__barge__button {
      margin-left: 0rem;
    }
  }
}

@media (max-width: 480px) {
  .collapsing-barge__barge > .container > .content {
    flex-direction: column;
    align-items: flex-start;

    .collapsing-barge__barge__trigger {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .collapsing-barge__barge__button {
      margin-left: 0rem;
    }
  }
}
