// ========================== //
// ========================== //
// AUCTION SOLUTION
// ========================== //
// ========================== //

// Associated Variables

// Blocks

.auction-solution__container { // Get a reliable margin on the base of Best Solution...
  margin-bottom: 1.5rem !important;
}

.auction-solution { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  padding: 0.5rem 1rem !important;

  .auction-solution__header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .auction-solution__title {
    display: flex;
    align-items: baseline;
    font-weight: 700;
  }
  .auction-solution__title__category {
    &:not(:empty) {
      & + .auction-solution__title__description:not(:empty):before {
        // Provide colon between offer category and suppliers
        content: ": "
      }
    }
  }
  .auction-solution__content {
    display: flex;
    margin-left: auto;
  }
  .auction-solution__confirmation {
    margin-top: 0 !important;
    padding-top: 0 !important;
    animation: confirm-open 0.75s ease;
    overflow: hidden;

    &> .field.is-expanded {
      flex-direction: row;

      &> .control {
        width: auto;
      }
    }
  }
  .auction-solution__confirmation.clear { // Transition for the cancellation of bid acceptance.
    max-height: 0;
    animation: confirm-close 0.75s cubic-bezier(0, 1, 0, 1);
  }

  @keyframes confirm-open {
    from {
      max-height: 0;
    }
    to {
      max-height: 1000px;
    }
  }

  @keyframes confirm-close {
    from {
      max-height: 1000px;
      padding-bottom: 1rem;
    }
    to {
      max-height: 0;

      padding-bottom: 0;
    }
  }

  &--best { // General style modifications for the calculated "Best Solution"
    background-color: $highlight !important;
  }
}

.auction-comment {
  margin-bottom: -2.25rem !important;

  &:empty {
    margin-bottom: 0 !important;
  }
}
.auction-solution__header--bordered {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.25rem 1rem 0.5rem 1rem;
  border-bottom: 4px solid $teal;
  transition: border-bottom 0.4s ease, padding-bottom 0.4s ease;
}

.auction-solution {
  overflow: hidden;
  // max-height: 42px;
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);

  .auction-solution__body {
    overflow: hidden;
    margin: 0 -1rem 0.5rem -1rem;
    padding: 0 1rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  &--open {
    transition: max-height 0.75s ease-in;

    &> .auction-solution__body {
      transition: max-height 0.75s ease-in;
      max-height: 1000px;
    }
  }

  &--closed {
    margin-bottom: 0.5rem;

    &> .auction-solution__body {
      transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
      max-height: 0px;
    }
  }

  &--closed > .auction-solution__header--bordered {
    border-bottom: 0px solid rgba($teal, 0);
    padding-bottom: 0.25rem;
  }
}

.auction-solution__port-designation {
  background-color: $gray-0;
  margin: 0.5rem -1rem 0.5rem -1rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid $gray-1;
}

.auction-solution__vessel-table, .auction-solution__product-table {
  width: calc(100% + 2rem);
  margin: 0 -1rem !important;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $gray-1;
  }

  thead tr {
    border-bottom: 3px solid $gray-3;
  }
  thead tr th {
    font-weight: bold;
  }
  thead th, tbody td { // Align table contents with collapsing toggle.
    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }
}

.auction-solution__product-table {
  tbody {
    border-top: 3px solid $gray-3;
  }
}

.auction-bidding__title {
  @media (min-width: 1025px) {
    border-bottom: 1px solid $gray-2;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
}

.auction-bidding__product-group {
  @media (max-width: 1024px) {
    border-top: 1px solid $gray-2;
    padding: 0.5rem 0.75rem 0 0.75rem;
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.auction-bidding__input {
  flex-grow: 0;
  flex-basis: 150px;
}

.field--offset {
    background-color: $gray-2;
    width: calc(100% + 2.5rem);
    padding: 0.75rem 1rem;
    margin: 0 -1.25rem;
}

.box--nested-base--base {
    margin-top: calc(-1.5rem - 2px);
    margin-bottom: 1rem;
}

.auction-solution--split {
  .auction-solution__body__seller-list {
    counter-reset: rowNumber - 1;

    li {
        display: inline-block;
        counter-increment: rowNumber;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    ul li:before {
        content: counter(rowNumber);
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background-color: $gray-3;
        color: $white;
        font-weight: 700;
        min-width: 1em;
        margin-right: 0.5em;
        text-align: center;
    }
  }
}

.auction-solution__marker {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: $gray-3;
  color: $white;
  font-weight: 700;
  min-width: 1rem;
  margin-right: 0.5rem;
  text-align: center;
}
