// ========================== //
// ========================== //
// AUCTION BARGING
// ========================== //
// ========================== //

// Associated Variables

// Blocks

.auction-barging {
  border-top: 1px solid $gray-2;
  margin: 1rem -1rem 0;
  padding: 1rem;
}

.auction-barging__container {
  background-color: $gray-1;
  margin: 0 -1.32rem;
  border-radius: 0;
  padding: 0.25rem 1rem;
}

.auction-barging__barge { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  padding: 0.75rem 0 !important;
  background-color: $white;
  border-radius: 3px;

  > .container {
    width: auto;
  }

  & .container:nth-child(2) {
    border-top: 1px solid $gray-1;
    transition: all 300ms ease-in !important, border-top-color 100ms ease-in !important;
  }

  &.is-open .container:nth-child(2) {
    border-top-color: $gray-1;
  }

  &.is-closed .container:nth-child(2) {
    border-top-color: transparent;
  }

  &.is-closed .content h2 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }

  & .content h2 {
    transition: margin-bottom 300ms ease-in;
  }

  .auction-barging__barge__trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .auction-barging__barge__trigger > span.collapsible-section__counter {
    display: none;
  }
  .auction-barging__barge__trigger > span:first-child { // Ersatz header. Probably a little brittle.
    font-size: 1rem;
    font-weight: bold;
  }
  .auction-barging__barge__trigger > span:last-child { // Toggle button. Probably a little brittle.
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .auction-barging__barge__toggle {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .auction-barging__barge__title {
    margin-right: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
  }
  .auction-barging__barge__status {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .auction-barging__barge__content {
    margin-top: 1rem;
    margin-left: auto;

    p {
      margin-left: 1.25rem;
      margin-bottom: 0.25rem !important;
    }
  }
}

h2.auction-barging__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}

// ========================== //
// ========================== //
// COLLAPSING BARGE VARIANT
// ========================== //
// ========================== //

h2.collapsing-barge__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}

.collapsing-barge {
  border-top: 1px solid $gray-2;
  margin: 1rem -1rem 0;
  padding: 1rem;
}

.collapsing-barge__container {
  background-color: $gray-1;
  margin: 0 -1.32rem;
  border-radius: 0;
  padding: 0.25rem 1rem;
}

.collapsing-barge__barge { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  padding: 0;
  background-color: $white;
  border-radius: 3px;

  > .container {
    width: auto;

    &> .content {
      display: flex;
      align-items: center;
      // justify-content: flex-start;
    }
  }

  & .container:nth-child(2) {
    border-top: 1px solid $gray-1;
    transition: all 300ms ease-in !important, border-top-color 100ms ease-in !important;
  }

  &.is-open .container:nth-child(2) {
    border-top-color: $gray-1;
  }

  &.is-closed .container:nth-child(2) {
    border-top-color: transparent;
  }

  &.is-closed .content h2 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }

  & .content h2 {
    display: flex;
    // transition: margin-bottom 300ms ease-in;
    margin: 0.5rem 0;
  }

  .collapsing-barge__barge__trigger {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
  }
  .collapsing-barge__barge__trigger > .collapsible-section__category-icon { // Ersatz header. Probably a little brittle.
    margin-right: 0.5rem;
    font-size: 1rem;
    color: $gray-3;

    &--approved { color: $green };
    &--rejected { color: $red };
    &--pending { color: $gray-3 };
    &--available { display: none };
  }
  .collapsing-barge__barge__trigger > .collapsible-section__title { // Ersatz header. Probably a little brittle.
    font-size: 1rem;
    font-weight: bold;
  }
  .collapsing-barge__barge__trigger > .collapsible-section__toggle-icon { // Toggle button. Probably a little brittle.
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .collapsing-barge__barge__toggle {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .collapsing-barge__barge__title {
    margin-right: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .collapsing-barge__barge__status {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .collapsing-barge__barge__button {
    flex-shrink: 0;
    margin: 0.5rem 0 0.5rem auto;

    a {
      color: $gray-3;
      transition: color 0.1s ease-in;
      &:hover, &:focus {
        color: darken($gray-3, 20%);
      }
    }
  }
  .collapsing-barge__barge__content {
    margin: 1rem 0 1rem auto;

    p {
      margin-left: 1.25rem;
      margin-bottom: 0.25rem !important;
    }
  }
}

h2.collapsing-barge__barge { // Ehhh, just playing around here to see what happens.
  display: flex;
  align-items: center;

  &> *:last-child {
    margin-left: auto;
  }
}
