// ========================== //
// ========================== //
// AUCTION SOLUTION
// ========================== //
// ========================== //

// Associated Variables

// Blocks

.auction-solution__container { // Get a reliable margin on the base of Best Solution...
  margin-bottom: 1.5rem !important;
}

.auction-solution { // Each line containing an auction solution.
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  padding: 0.5rem 1rem !important;

  .auction-solution__header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .auction-solution__header__row {
    display: flex;
    width: 100%;

    &:first-child { // Target title row of auction solution
      @media (max-width: 480px) {
        flex-direction: column;
      }
    }
  }

  .auction-solution__header__row--preview {
    margin: 0.5rem -1rem -0.75rem -1rem;
    width: calc(100% + 2rem);
    padding: 0.75rem 1rem 0.25rem 1rem;
    background-color: $gray-2;
    align-items: center;
    flex-wrap: wrap;

    &> * {
      margin-bottom: 0.5rem;
    }

    &> *:not(:last-child) {
      margin-right: 1rem;
    }

    &> .control {
      max-width: 100%;
    }

    .tags {
      flex-wrap: nowrap;
    }

    .tag--clippable-text {
      flex: 1;
      min-width: 0;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .auction-solution__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    flex: 2 1 auto;

    &> svg {
      flex: 0 0 1.5rem;
      padding-right: 0.5rem !important;
    }

    @media (max-width: 480px) {
      align-items: flex-start;

      &> svg {
        margin-top: 0.375rem;
      }
    }
  }
  .auction-solution__content {
    flex: 0 0 auto;
  }
  .auction-solution__title__category {
    &:not(:empty) {
      & + .auction-solution__title__description:not(:empty):before {
        // Provide colon between offer category and suppliers
        content: ": "
      }
    }
  }
  .auction-solution__content {
    display: flex;
    margin-left: auto;

    @media (max-width: 480px) {
      margin-left: 1.75rem;
      margin-top: 0.25rem;
    }
  }
  .auction-solution__confirmation {
    margin-top: 0 !important;
    padding-top: 0 !important;
    animation: confirm-open 0.75s ease;
    overflow: hidden;

    &> .field.is-expanded {
      flex-direction: row;

      &> .control {
        width: auto;
      }
    }
  }
  .auction-solution__confirmation.clear { // Transition for the cancellation of bid acceptance.
    max-height: 0;
    animation: confirm-close 0.75s cubic-bezier(0, 1, 0, 1);
  }

  @keyframes confirm-open {
    from {
      max-height: 0;
    }
    to {
      max-height: 1000px;
    }
  }

  @keyframes confirm-close {
    from {
      max-height: 1000px;
      padding-bottom: 1rem;
    }
    to {
      max-height: 0;
      padding-bottom: 0;
    }
  }

  @keyframes add-hidden {
    from {
      max-height: 0;
      overflow: hidden;
    }
    to {
      max-height: 1000px;
      overflow: hidden;
    }
  }

  @keyframes clear-hidden {
    from {
      max-height: 1000px;
      padding-bottom: 1rem;
      overflow: hidden;
    }
    to {
      max-height: 0;
      padding-bottom: 0;
      overflow: hidden;
    }
  }

  &--best { // General style modifications for the calculated "Best Solution"
    background-color: $highlight !important;
  }
}

.auction-solution__barge-section {
  margin: 0.5rem -1rem 0 -1rem;
  padding: 0.5rem 1rem;
  background-color: $gray-1;

  .auction-solution--closed & { // Nix margin when solution is closed.
    margin-top: 0;
  }
}

.auction-solution__barge-list {
  display: inline-block;

  .auction-solution__barge {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.25rem;
      &:after {
        content: ','
      }
    }
  }
}

.auction-comment {
  margin-bottom: -2.25rem !important;

  &:empty {
    margin-bottom: 0 !important;
  }
}
.auction-solution__header--bordered {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.25rem 1rem 0.75rem 1rem;
  border-bottom: 4px solid $teal;
  transition: border-bottom 0.4s ease, padding-bottom 0.4s ease;
}

.auction-solution {
  margin-bottom: 0.25rem !important;
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);

  .auction-solution__body {
    margin: 0 -1rem 0.5rem -1rem;
    padding: 0 1rem;
    overflow: visible;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  &--open {
    transition: max-height 0.75s ease-in;

    &> .auction-solution__body {
      transition: max-height 0.75s ease-in;
      max-height: 1000px;
    }
  }

  &--closed {

    &> .auction-solution__body {
      transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
      max-height: 0px;
    }
  }

  &--closed > .auction-solution__header--bordered {
    border-bottom: 0px solid rgba($teal, 0);
    padding-bottom: 0.25rem;
  }
}

.auction-solution--closed > .auction-solution__body {
  overflow: hidden;
}

.auction-solution__port-designation {
  background-color: $gray-0;
  margin: 0.5rem -1rem 0.5rem -1rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid $gray-1;
}

.auction-bidding__title {
  @media (min-width: 1025px) {
    border-bottom: 1px solid $gray-2;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
}

.auction-bidding__product-group {
  border-bottom: 1px solid $gray-2;
  margin: 0 -1.3rem;
  padding: 0 1.3rem 1rem 1.3rem;

  @media (max-width: 1024px) {
    padding: 0.5rem 0.75rem 0 0.75rem;
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 -0.25rem;
    padding-bottom: 1rem;
  }
}

.auction-bidding__input {
  flex-grow: 0;
  flex-basis: 150px;
}

.field--offset {
    background-color: $gray-2;
    width: calc(100% + 2.5rem);
    padding: 0.75rem 1rem;
    margin: 0 -1.25rem;
}

.auction-solution--split {
  .auction-solution__body__seller-list {
    counter-reset: rowNumber - 1;

    li {
        display: inline-block;
        counter-increment: rowNumber;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    ul li:before {
        content: counter(rowNumber);
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background-color: $gray-3;
        color: $white;
        font-weight: 700;
        min-width: 1em;
        margin-right: 0.5em;
        text-align: center;
    }
  }
}

.auction-solution__marker {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: $gray-3;
  color: $white;
  font-weight: 700;
  min-width: 1rem;
  margin-right: 0.5rem;
  text-align: center;
}

.auction-solution__your-bid-tag {
  margin-left: -0.5rem;
  background-color: $yellow !important;
  font-family: $family-sans-serif !important;
  text-transform: capitalize !important;
}

.auction-bidding__vessels {
  background-color: $gray-2;
  margin: 0 !important;
  border-radius: 3px;

  & > div:first-child {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    margin-bottom: 1rem !important;
  }
}

.control--flex-limit > .auction-bidding__best-price {
  .tag:first-child { // Label
    max-width: 115px;
  }
}

.auction-bidding__best-price {
  margin-bottom: 0.5rem !important;

  .tag:first-child { // Label
    min-width: 0;
    flex: 1;

    span.truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .tag:last-child { // Price
    border-radius: 0 !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  @media(max-width: 1280px) and (min-width: 1088px) {
    flex-direction: column;
    align-items: flex-start !important;

    .tag {
      width: 100px;
    }

    .tag:first-child { // Label
      border-radius: 0 !important;
      border-top-left-radius: 3px !important;
      border-top-right-radius: 3px !important;
    }
    .tag:last-child { // Price
      border-radius: 0 !important;
      border-bottom-left-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }
}

.auction-bidding__best-price--price {
  .auction-solution__header__row & { // Target auction solution bid tag
    background-color: $gray-1;
  }

  .auction-bidding__form-body & { // Target bid box bid tag
    background-color: $gray-2;
  }
}

.auction-bidding__vessel-selection {
  display: inline-block;
  background-color: $gray-0;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  text-transform: capitalize;

  &:hover, &:focus {
    background-color: $white;
  }
}
