// ========================== //
// ========================== //
// AUCTION COMMENT
// ========================== //
// ========================== //


// Associated Variables

// Blocks

.auction-comment__title {
  @media (min-width: 1025px) {
    border-bottom: 1px solid $gray-2;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
}

.auction-comment__form-body {
  margin-bottom: 1rem;
}

.auction-comment__item {
  display: flex;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;

  .auction-bidding & { // Place Bid Context
    margin: 0;
  }

  &--empty {
    font-style: italic;

    .auction-bidding & { // Place Bid Context
      display: none;
    }
  }

  &:nth-child(odd) {
    background-color: $gray-1;

    .auction-bidding & { // Place Bid Context
      background-color: transparent;
      border-bottom: 1px solid $gray-2;
    }
  }
  &:last-child {
    margin-bottom: 0.5rem;
  }

}

.auction-comment__revoke-button {
  position: relative;
  background-color: #dbdbdb !important;

  &:hover, &:focus {
    background-color: #cecece !important;
  }

  &:hover:after, &:focus:after {
    display: block;
    position: absolute;
    content: "Remove Condition";
    background-color: #363636;
    color: #ffffff;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    top: -2rem;
    text-transform: capitalize;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 0.75rem;
  }
}
