// ========================== //
// ========================== //
// AUCTION NOTIFICATION
// ========================== //
// ========================== //


// Associated Variables


// Blocks

.auction-notification {
  display: flex;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 1.5rem;
  @extend .box;

  .icon.is-medium { // Modify height to keep spacing consistent even when invite status text wraps.
    height: 0.75rem;
  }
}


// Different messages based on notification context

.auction-notification__show-message {
  h3 {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.3;
    @extend .is-size-6;
  }

  .card-content__bid-status & { // Hide on auction list
    display: none;
  }
}

.auction-notification__card-message {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  h3 {
    margin-bottom: 0 !important;;
    width: calc(100% - 120px);
  }

  .auction-content  & { // Hide on auction show
    display: none;
  }
}

// Animation for show page update

.auction-notification__container {
  animation: 3s ease-out 0s 1 fancy-flip-container;
}

.auction-notification--flash { // Variant for flash messages
  height: 0px;
  margin-bottom: 0;
  color: transparent;
  background-color: transparent;
  transform: rotateX(-180deg);
  padding: 0 1.25rem;
  border-radius: 5px;
}

@keyframes fancy-flip-container {
  0% {
    height: 0;
  }

  20% {
    height: 66px;
  }

  80% {
    height: 66px;
  }

  100% {
    height: 0px;
  }
}

@keyframes fancy-flip--success {
  0% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }

  10% {
    opacity: 0;
    color: transparent;
  }

  20% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: $white;
    background-color: $green;
    transform: rotateX(0deg);
  }

  80% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: $white;
    background-color: $green;
    transform: rotateX(0deg);
  }

  90% {
    opacity: 0;
    color: transparent;
  }

  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }
}

@keyframes fancy-flip--danger {
  0% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }

  10% {
    opacity: 0;
    color: transparent;
  }

  20% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: $white;
    background-color: $red;
    transform: rotateX(0deg);
  }

  80% {
    opacity: 1;
    height: 50px;
    margin-bottom: -1rem;
    color: $white;
    background-color: $red;
    transform: rotateX(0deg);
  }

  90% {
    opacity: 0;
    color: transparent;
  }

  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }
}

.auction-notification--flash.is-success {
  animation: 3s ease-out 0s 1 fancy-flip--success;
}

.auction-notification--flash.is-danger {
  animation: 3s ease-out 0s 1 fancy-flip--danger;
}

// Variant in Auction List Context...

.card-content__bid-status > .auction-notification {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: content-box;
  margin: -8px -14px  !important;
  padding: 0.75rem 1.25rem 1rem 1.25rem !important;
  z-index: 0;
  border-radius: 0 !important;

  .auction-notification__copy {
    display: block;
    color: $white;
    font-size: $size-6;
    font-weight: bold;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &+ .card-content__best-price {
    position: absolute;
    right: 12px;
  }
}
