// ========================== //
// ========================== //
// AUCTION NOTIFICATION
// ========================== //
// ========================== //


// Associated Variables


// Blocks

.auction-notification {
  display: flex;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 1.5rem;

  .icon.is-medium { // Modify height to keep spacing consistent even when invite status text wraps.
    height: 0.75rem;
  }

  &__status {
    h3 { line-height: 1.3;}
  }
}

.auction-notification__container {
  animation: 3s ease-out 0s 1 fancy-flip-container;
}

.auction-notification--flash { // Variant for flash messages
  height: 0px;
  margin-bottom: 0;
  color: transparent;
  background-color: transparent;
  transform: rotateX(-180deg);
  padding: 0 1.25rem;
  border-radius: 5px;
}

@keyframes fancy-flip-container {
  0% {
    height: 0;
  }

  20% {
    height: 66px;
  }

  80% {
    height: 66px;
  }

  100% {
    height: 0px;
  }
}

@keyframes fancy-flip--success {
  0% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }

  10% {
    opacity: 0;
    color: transparent;
  }

  20% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: #fff;
    background-color: $green;
    transform: rotateX(0deg);
  }

  80% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: #fff;
    background-color: $green;
    transform: rotateX(0deg);
  }

  90% {
    opacity: 0;
    color: transparent;
  }

  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }
}

@keyframes fancy-flip--danger {
  0% {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }

  10% {
    opacity: 0;
    color: transparent;
  }

  20% {
    opacity: 1;
    height: 50px;
    margin-bottom: 1rem;
    color: #fff;
    background-color: $red;
    transform: rotateX(0deg);
  }

  80% {
    opacity: 1;
    height: 50px;
    margin-bottom: -1rem;
    color: #fff;
    background-color: $red;
    transform: rotateX(0deg);
  }

  90% {
    opacity: 0;
    color: transparent;
  }

  100% {
    opacity: 0;
    height: 0px;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    transform: rotateX(-180deg);
  }
}

.auction-notification--flash.is-success {
  animation: 3s ease-out 0s 1 fancy-flip--success;
}

.auction-notification--flash.is-danger {
  animation: 3s ease-out 0s 1 fancy-flip--danger;
}

// Variant in Auction List Context...

.card-content__bid-status > .auction-notification.box {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: content-box;
  margin: -8px -14px  !important;
  padding: 0.75rem 1.25rem 1rem 1.25rem !important;
  z-index: 0;
  border-radius: 0 !important;

  &> h3 { // Copy container...
    margin-bottom: 0;
    width: calc(100% - 150px);
  }

  .auction-notification__copy {
    display: block;
    color: #fff;
    font-size: 1rem;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &+ .card-content__best-price {
    position: absolute;
    right: 12px;
  }
}

// Different message based on page context...

.auction-notification__show-message {
  display: block;
  
 .card-content__bid-status & {
   display: none;
 }
}

.auction-notification__card-message {
  display: block;

  .auction-lowest-bid  &{
    display: none;
  }
}
