// ========================== //
// ========================== //
// COLLAPSIBLE SECTION
// ========================== //
// ========================== //

.auction-list > .container:last-child .content { // Collapsing container
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.auction-list  { // Toggling Icon

  h2.auction-list__trigger {
    display: flex;
    font-weight: 400;
    @media(max-width: 768px) {
      font-size: 1.25rem;
      margin: 0.25rem 0 0.75rem 0;
    }
  }

  .collapsible-section__toggle-icon {
    display: inline-block;
    float: right;
    &:after {
      font-family: "FontAwesome";
    }
  }

  // &.is-open .collapsible-section__toggle-icon:after { // Opened Section Styles
  //   content: "\f106";
  // }
  // &.is-closed .collapsible-section__toggle-icon:after { // Closed Section Styles
  //   content: "\f107";
  // }
}

.collapsible-section__counter { // Counter of number of auctions in a given section
  margin-left: auto;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 2.5rem;
  border-radius: 14px !important;
  @media(max-width: 768px) {
    font-size: 0.85rem !important;
    min-width: 2rem;
  }
}

// BID BOX VARIANT

.collapsing-auction-bidding {
  margin: -1rem -1.25rem;

  &.is-open{
    padding-bottom: 3rem;
  }

  h3.title { // Hide default header
    display: none;

    &.auction-comment__title {
      display: block;
      font-size: 1rem;
      padding: 0.75rem 1rem 0.5rem;
      margin: 0 -1rem 1rem;
      border-top: 1px solid $gray-2;
      border-bottom: 1px solid $gray-2;
    }
  }

  .collapsing-auction-bidding__trigger { // Style collapsing section title
    margin: 0 -1rem;
    padding: 0.75rem 1rem 0.5rem 1rem;
    border-top: none;
    border-bottom: 1px solid $gray-2;
    text-transform: uppercase;
    font-family: $family-header;
    font-weight: bold;
    font-size: $size-6;

    &.is-closed {
      border-top: none;
      border-bottom: none;
    }
  }

  .collapsible-section__counter { display: none; }
  .collapsible-section__toggle-icon { float: right; }

  .container:nth-child(2) { // Target non-collapsing section trigger
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &.is-closed .container:nth-child(2) { // Target non-collapsing section trigger
    margin-top: 0;
    padding-bottom: 0;
  }

  & > .container--content-pane {
    max-height: 78vh;
    overflow-y: auto;

    &> .content { form:last-child { margin-top: 1.5rem; } }
  }

}

// BARGING BOX VARIANT

.collapsing-auction-barging {
  margin: -1rem -1.25rem;

  h3.title { // Hide default header
    display: none;
  }

  .container {
    width: 100% !important;
  }

  .collapsing-auction-barging__trigger { // Style collapsing section title
    margin: 1.5rem -1rem 0 -1rem;
    padding: 0.75rem 1rem 0.5rem 1rem;
    border-top: 1px solid $gray-2;
    border-bottom: 1px solid $gray-2;
    text-transform: uppercase;
    font-family: $family-header;
    font-weight: bold;
    font-size: $size-6;
  }

  .collapsible-section__counter { display: none; }
  .collapsible-section__toggle-icon { float: right; }

  & .container:nth-child(2) { // Target non-collapsing section trigger
    margin-top: 0;
    padding-bottom: 0;
  }
}
