.historical-auctions__form {
// Widescreen
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .field {
    display: inline-flex;
  }

  .field:not(:last-child) {
    margin-right: 1rem;
  }
  .field:last-child {
    margin-bottom: 1.25rem;
  }

  .field-body {
    align-items: center;
  }

  .field-group {
    display: flex;
  }
}

// Tablet
@media (min-width: 480px) and (max-width: 1024px) {
  .historical-auctions__form form {
    align-items: flex-end;
  }
  .historical-auctions__form .field--has-horizontal {
    .field-body { display: flex; }
  }
}

// Phone
@media (max-width: 480px) {
  .historical-auctions__form form {
    display: block;

    .select, select {
      width: 100%;
    }

    .field {
      display: block;
    }
  }
}
