.invite-selector__container {
  max-width: 360px;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    max-width: calc(100vw - 2rem);
  }
}

.invite-selector {
  min-width: calc(100% - 2rem);
  height: 31px;
  background-color: $white;
  border: 1px solid $gray-2;
  border-bottom: none;
  border-radius: $border-radius;


  &:first-child .invite-selector__facade {
    border-top-right-radius: $border-radius;
    &:before {
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child .invite-selector__facade {
    border-bottom-right-radius: $border-radius;
    &:before {
      border-bottom-left-radius: $border-radius;
    }
  }

}

.invite-selector__checkbox {
  display: block;
  position: relative;
  width: 100%;
  height: 31px;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid $gray-2;

  input[type="checkbox"] {
    margin-right: 1rem;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:checked {
      transition: all 0.2s ease-in-out;
    }

    &:checked + .invite-selector__facade:before {
      background-color: $green;
      border: 1px solid darken($green, 5%);
    }

    // Hover colors for buttons.

    &:focus, &:hover {
      &+ .invite-selector__facade:before {
        background-color: darken($gray-2, 20%);
        border: 1px solid darken($gray-2, 25%);
      }
      &+ .invite-selector__facade {
        background-color: $gray-0;
      }
    }
    &:checked:focus, &:checked:hover {
      &+ .invite-selector__facade:before {
        background-color: darken($green, 10%);
        border: 1px solid darken($green, 15%);
        padding-top: 5px;
      }
    }
    &:checked:hover { // Swap out icons if hovering over checkbox when checked.
      &+ .invite-selector__facade svg {
        &.default-only {
          display: none;
        }
        &.hover-only {
          display: inline-block;
        }
      }
    }
  }
}

.invite-selector__facade {
  display: block;
  background-color: white;
  width: 31px;
  height: 32px;
  position: absolute;
  border-radius: $border-radius;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  svg {
    color: white;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    top: 4px;
    left: 9px;

    &.default-only {
      display: inline-block;
    }
    &.hover-only {
      display: none;
    }
  }

  &:before {
    display: block;
    background-color: $gray-2;
    border: 1px solid darken($gray-2, 5%);
    content: "";
    width: 31px;
    height: 32px;
    margin: -1px;
    padding: 5px 0.2rem 0rem;
    font-size: $size-6;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
    transition: all 0.05s ease-in-out;
  }

      &:focus, &:hover {
        background-color: $gray-0;
      &:before {
        background-color: darken($gray-2, 20%);
        border: 1px solid darken($gray-2, 25%);
      }
    }
}

.invite-selector__label {
  width: calc(100% - 40px);
  max-width: 360px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-overflow: ellipsis;
}
