.messaging {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 3.25rem;
  overflow: hidden;
  top: calc(100vh - 3.25rem);
  right: 0;
  left: calc(100vw - 400px);
  width: 400px;
  max-height: calc(100vh - 3.25rem);
  background-color: $gray-1;
  box-shadow: $box-shadow;
  transition: all 0.5s ease;
  border-top-left-radius: 5px;

  &.open {
    top: 3.25rem;
    height: calc(100vh - 3.25rem);
  }

  .body--admin & {
    top: calc(100vh - 3.25rem);
    height: 3.25rem;
    max-height: calc(100vh - 3.25rem);

    &.open {
      top: 101px;
      height: calc(100vh - 101px);
      max-height: calc(100vh - 101px);
    }
  }

  // Message Headers

  h1, h2 { font-weight: bold;}

  // Message Toggle Buttons

  .messaging__toggle {
    display: flex;
    align-items: baseline;
    padding: 1rem;
    width: 100%;
    border: none;
    color: $black;

    &:hover, &:focus {
      background-color: $gray-1;
    }
    i {
      transition: transform 0.3s ease;
    }
  }

  // Message Containers

  &> div > div { // Hit all grandchildren of message...
    display: flex;
    width: 100%;
    transition: max-height 0.2s ease;
  }

  &__notification-context { // Menu Bar showing notifications and allowing collapsibility
    background-color: $white;
    border-top: none !important;
    flex-shrink: 0 !important;
    flex-direction: column;

    .messaging__menu-bar {
      display: flex;
      flex-direction: row;

      .messaging__menu-bar__title {
        flex-grow: 2;
        padding: 1rem;
      }
    }
  }
  &__notifications { // Marker in Menu Bar indicating unseen messages
    background-color: $gray-1;
    margin-left: auto;
    padding: 1rem;
    font-weight: bold;

    &:hover, &:focus {
      background-color: darken($gray-1, 5%);
    }

    &--has-unseen {
      background-color: $red;
      color: $white;
      font-family: $family-sans-serif;

      &:hover, &:focus {
        background-color: darken($red, 5%);
      }
    }
  }
  &__user-context { // Menu Bar showing notifications and allowing collapsibility
    background-color: $white;
    flex-shrink: 0;
    flex-direction: column;

    &.open {
      .collapsible-section__toggle-icon i { transform: rotate(180deg);}
    }
  }
  &__conversation { // Menu Bar showing notifications and allowing collapsibility
    flex-grow: 2;
    flex-direction: column;
    padding: 0;
    background-color: $white;
    max-height: 100%;
    transition: max-height 0.2s ease;
    overflow: hidden;

    &.open {
      max-height: 100%;
    }
  }
  &__datestamp { // Indicating date that conversation initiated/reinitiated.
    background-color: $gray-1;
    margin: 1rem -1rem;
    padding: 0.5rem 1rem;
    font-family: $family-header;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }
  &__message { // Individual message unit
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &__bubble { // Message contents
      position: relative;
      font-weight: normal;
      padding: 1rem;
      border-radius: 5px;
      background-color: lighten($teal, 50%);

        &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: lighten($teal, 50%);
          height: 1rem;
          width: 1rem;
          right: 1rem;
          bottom: -0.25rem;
          transform: skew(12deg, -40deg);
          border-radius: 2px;
          }
    }
    &__timestamp { // Name and time sent
      display: flex;
      margin: 0.75rem 0 0.5rem 0.25rem;
      font-size: 0.85rem;

      &__name {
        color: $gray-3;
        flex-shrink: 1;
        overflow: hidden;
        margin-right: 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__time {
        flex-shrink: 0;
        margin-left: auto;
      }
    }
  }
  &__message--self { // Variation for when it's you sending the message, I guess.
    .messaging__message__bubble {
      background-color: $gray-2;

      &:after {
        background-color: $gray-2;
        left: 1rem;
        bottom: -0.25rem;
        transform: skew(-12deg, 40deg);
      }
    }
  }
}

.messaging__conversation-list {
  border-top: 1px solid $gray-2;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
  .open & {
    max-height: 100%;
  }
}

.messaging__input {
  flex-shrink: 0;
  padding: 1rem;
  background-color: $gray-2;
  margin: 0 -1rem 0 -1rem;

  .field .control > * {
    border: 1px solid lighten($gray-3, 25%);
  }

  .field .control:first-child {
    flex-grow: 2;
  }

  .messaging__conversation.open & {
    display: block;
  }
}

.messaging__top-context {
  display: flex;
  width: 100%;
  background-color: $white;
  flex-shrink: 0;
  flex-direction: column;
  overflow: hidden;

  &> li {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    background-color: $white;
    padding: 1rem;
    // border-left: 8px solid $gray-2;
    border-top: 1px solid $gray-2;
    font-weight: bold;

    &:last-child {
      border-bottom: 1px solid $gray-2;
    }

    &.open {
      padding-bottom: 0;

    }
    &.closed {
      padding-bottom: 0.5rem;

      &:hover, &:focus {
        background-color: $gray-0;
      }
    }

    &> div {
      display: flex;
      width: 100%;
    }

    &> div > .messaging__notifications {
      display: inline-block;
      margin-left: auto;
    }
  }

  .messaging__context-list__active-convo {
    border-left: 8px solid $green;
  }
}

.messaging__context-list {
  width: calc(100% + 2rem);
  margin: 0.5rem -1rem 0 -1rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: $white;
    padding: 1rem;
    border-left: 8px solid $gray-2;
    border-top: 1px solid $gray-2;
    font-weight: bold;

    &.open {
      padding-bottom: 0;
    }

    &.closed {
      &:hover, &:focus {
        background-color: $gray-0;
      }
    }

    .collapsible-section__toggle-icon {
      margin-right: 0.5rem;
    }

    // Actual Message Panel

    & > div:first-child {
      display: flex;
      flex-direction: row;
      width: calc(100% + 1rem);
    }
  }

  .messaging__context-list__instruction {
    background-color: $gray-1;
    font-style: italic;
    border-left: 0;
    &:hover, &:focus {
      background-color: $gray-1;
    }
  }

  .messaging__context-list__active-convo {
    border-left: 8px solid $green;
  }
}

.messaging__top-context__selector, .messaging__context-list__selector { // Help Text
  background-color: $gray-1 !important;
  border-left: none !important;
  font-weight: bold;
  font-style: italic;
}

.messaging__message-container {
  background-color: $white;
  overflow-y: scroll;
  flex-grow: 2;
  flex-shrink: 2;
  padding: 1rem;
  padding-bottom: 0;
  margin-top: 1rem;
  margin-left: -1.65rem;
  width: calc(100% + 2.75rem);
  border-top: 1px solid $gray-2;
}

.messaging__notifications { // Number of new messages by auction/conversation
  .messaging__top-context > li.with-unseen > div > & {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-right: -1rem;
    width: calc(4rem + 2px);
  }
  .messaging__context-list > li.with-unseen > div > & {
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: calc(4rem + 2px);
  }
}
