// ========================== //
// ========================== //
// NAVBAR
// ========================== //
// ========================== //


// Associated Variables

$navbar-background-color: $primary;

// Adaptations

.navbar-brand {
  justify-content: space-between;

  a:last-child { // FIXME: This is a stopgap until we get a more robust nav in place.
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
