// ========================== //
// ========================== //
// REPORTS
// ========================== //
// ========================== //

.report {
  h1 {
    @media print {
      border-top: 2px solid $gray-2;
      margin-top: 0.5rem;
      padding-top: 2rem;
    }
  }
  h2 {
    @media print {
      border-bottom: 2px solid $gray-2;
      padding-bottom: 1rem;
      margin-bottom: 2rem !important;
    }
  }
}

.report__log {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.report__log__header {
  font-weight: bold;
  border-bottom: 3px solid $gray-2;
}

.report__log__header, .report__log__body {
  &> div { // tr facsimile
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-2;

    &:nth-child(even) {
      background-color: $gray-1;
    }

    &> div { // General Table Cell Styles

    }

    &> div:first-child { // Time
      flex: 0 0 220px;
    }

    &> div:nth-child(2) { // Event
      flex: 2 0 auto;
    }

    &> div:last-child { // Impersonator
      flex: 0 0 90px;
      margin-left: auto;
    }
  }
}

.report__log__header {
  &> div { // tr facsimile
    border-bottom: 5px solid $gray-3;
  }
  @media (max-width: 768px) {
    &> div { // tr facsimile

      &> div:first-child { // Time
        display: none;
      }

      &> div:nth-child(2) { // Event
        flex: 2 0 auto;
      }

      &> div:last-child { // Impersonator
        display: none;
      }
    }
  }
}

.report__log__body {
  display: flex;
  flex-direction: column;

  &> div { // tr facsimile
    display: flex;
    flex-direction: row;
    line-height: 1.75;
  }

  @media (max-width: 768px) {
    &> div { // tr facsimile
      flex-direction: column;

      &> div:first-child { // Time
        flex: 0 0 auto;
      }

      &> div:nth-child(2) { // Event
        flex: 0 0 auto;
      }

      &> div:last-child { // Impersonator
        flex: 0 0 auto;
        margin-left: 0;
      }
    }
  }
}

.report__logo--print {
  width: 300px;
}
