oceanconnect.Elixir.OceanconnectWeb.Endpoint.secret_key_base = "{{ secret_key_base }}"

oceanconnect.Elixir.Oceanconnect.Repo.adapter = Elixir.Ecto.Adapters.Postgres
oceanconnect.Elixir.Oceanconnect.Repo.username = "{{ elixir_release_name_code }}"
oceanconnect.Elixir.Oceanconnect.Repo.password = "{{ db_pass }}"
oceanconnect.Elixir.Oceanconnect.Repo.database = "{{ elixir_release_name_code }}_prod"
oceanconnect.Elixir.Oceanconnect.Repo.hostname = "{{ db_host }}"
