<!DOCTYPE html>
<html lang="en" class="<%= OceanconnectWeb.LayoutView.root_class_list() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OceanConnect Marine | Marine Fuel Auctions</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>
  </head>

  <body class="<%= "#{ if OceanconnectWeb.SessionView.current_user_is_admin?(@conn),  do:  "body--admin",  else:  "body"}" %>">
    <header class="header">
      <nav role="navigation" class="navbar is-white">
        <div class="navbar-brand">
          <a href="/auctions" class="navbar-item">
            <img src="<%= static_path(@conn, "/images/ocm_transparentlogo.png") %>">
          </a>
        <%= if (OceanconnectWeb.SessionView.current_user(@conn) != "") do %>
          <button class="button navbar-burger" data-target="navMenubd-example">
            <span></span>
            <span></span>
            <span></span>
          </button>
        <% end %>
        </div>
        <div id="navMenubd-example" class="navbar-menu">
          <img class="navbar-background" src="<%= static_path(@conn, "/images/header_slice.png") %>" />
          <div class="navbar-end">
            <div class="navbar-item navbar-item--user has-text-weight-bold">
              <%= OceanconnectWeb.SessionView.current_user(@conn) %>
              <%= if OceanconnectWeb.SessionView.current_company(@conn) !== "" do %>
                <i class="is-size-6 is-block-desktop has-margin-left-sm">(<%= OceanconnectWeb.SessionView.current_company(@conn) %>)</i>
              <% end %>
            </div>
            <div class="navbar-dropdown__admin">
              <%= if OceanconnectWeb.SessionView.current_user_is_admin?(@conn) do %>
                <div class="field has-addons has-margin-bottom-none">
                  <div class="control">
                    <%= button("Admin", to: admin_stop_impersonating_session_path(@conn, :stop_impersonating), method: "POST", class: "navbar-dropdown__admin__toggles qa-admin-act-as-admin #{ if OceanconnectWeb.SessionView.is_impersonating?(@conn),  do:  "inactive",  else:  "active"}") %>
                  </div>
                  <div class="control">
                    <button class="<%= "navbar-dropdown__admin__toggles qa-admin-act-as-agent " <> "#{ if OceanconnectWeb.SessionView.is_impersonating?(@conn),  do:  "active",  else:  "inactive"}" %>">Agent</button>
                  </div>
                </div>
                <script>
                  window.isAdmin = <%= OceanconnectWeb.SessionView.current_user_is_admin?(@conn) %>
                  window.isImpersonating = <%= OceanconnectWeb.SessionView.is_impersonating?(@conn)  %>
                </script>
              <% end %>
            </div>
            <%= if (OceanconnectWeb.SessionView.current_user(@conn) != "") do %>
              <div class="navbar-item navbar-item--burger has-dropdown qa-app-navbar">
                <a href="#" class="navbar-link is-hidden-touch"><i class="fas fa-bars has-margin-right-md"></i> Menu</a>
                <div class="navbar-dropdown">
                  <a href="/auctions" class="navbar-item">Current Auctions</a>
                  <a href="/historical_auctions" class="navbar-item">Historical Auctions</a>
                  <%= if !OceanconnectWeb.SessionView.is_observing?(@conn) do %>
                    <%= if OceanconnectWeb.SessionView.current_user_is_admin?(@conn) do %>
                      <a href="/admin/vessels" class="navbar-item">Admin Panel</a>
                    <% else %>
                      <a href="/fixtures" class="navbar-item">Auction Fixtures</a>
                    <% end %>
                  <% end %>
                  <!-- <a href="#" class="navbar-item">Auction History</a>
                  <a href="#" class="navbar-item">Claims</a>
                  <a href="#" class="navbar-item">Invoices</a>
                  <a href="#" class="navbar-item">Messages</a>
                  <a href="#" class="navbar-item">Account Settings</a> -->
                  <%= link "Account Settings", to: "/users/#{OceanconnectWeb.Plugs.Auth.current_user(@conn).id}/edit", class: "navbar-item" %>
                  <%= OceanconnectWeb.SessionView.log_in_logout_link(@conn) %>
                </div>
              </div>
            <% end %>
            <!-- <%= OceanconnectWeb.SessionView.log_in_logout_link(@conn) %>          --></div>
        </div>
      </nav>
      <nav class="navbar navbar--admin">
        <div class= "<%= "admin-bar" <> "#{ if OceanconnectWeb.SessionView.current_user_is_admin?(@conn),  do:  "",  else:  " admin-bar--no-border"}" <> "#{ if OceanconnectWeb.SessionView.is_impersonating?(@conn),  do:  " admin-bar--green-border",  else:  ""}" %>" >
          <%= if OceanconnectWeb.SessionView.is_impersonating?(@conn) do %>
            <div class="admin-bar__form">
                <%= button("Return to Admin", to: admin_stop_impersonating_session_path(@conn, :stop_impersonating), method: "POST", class: "button is-outlined has-margin-left-auto") %>
            </div>
         <% end %>
          <%= if OceanconnectWeb.SessionView.current_user_is_admin?(@conn) && !OceanconnectWeb.SessionView.is_impersonating?(@conn) do %>
            <%= form_for @conn, admin_impersonate_session_path(@conn, :impersonate), [class: "admin-bar__form"], fn(f) ->  %>
              <label class="label">Act as User</label>
              <div class="select">
                <%= select f, :user_id,  OceanconnectWeb.SessionView.impersonable_users(@conn), class: "qa-admin-impersonate-user" %>
              </div>
              <%=  submit [class: "button is-outlined qa-admin-impersonate-user-submit"] do %>
                <i class="fas fa-arrow-right"></i>
              <%end%>
            <% end %>
         <% end %>
        </div>
      </nav>
    </header>
       <main role="main">
         <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
         <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         <%= render @view_module, @view_template, assigns %>
        </main>
      <script> window.userToken = "<%= OceanconnectWeb.Plugs.Auth.current_token(@conn) %>";</script>
      <script> window.expiration = "<%= OceanconnectWeb.Plugs.Auth.expiration(@conn) %>";</script>
      <script> window.companyId = "<%= OceanconnectWeb.SessionView.current_user_company_id(@conn) %>";</script>
      <script> window.isObserver = <%= OceanconnectWeb.SessionView.is_observing?(@conn) %>;</script>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

          // Get all "navbar-burger" elements
          var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any nav burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
              $el.addEventListener('click', function () {

                // Get the target from the "data-target" attribute
                var target = $el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }
        });
      </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
