<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Oceanconnect!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav role="navigation" class="navbar is-primary">
        <div class="navbar-brand">
          <a href="/auctions" class="navbar-item">
            <img src="<%= static_path(@conn, "/images/ocm_transparentlogo_reverse.png") %>">
          </a>
        </div>
        <%# TODO: Add in actual mobile implementation of nav... %>
        <!-- <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button> -->
        <div class="navbar-menu">
          <%# TODO: Add links as we add additional sections (when relevant) %>
          <div class="navbar-end">
            <%= link "Bunkers", to: auction_path(@conn, :index), class: "navbar-item" %>
            <!-- <a href="#" class="navbar-item">Account Settings</a>
            <a href="#" class="navbar-item">Messages</a>
            <a href="#" class="navbar-item">Log Out</a> -->
          </div>
        </div>
      </nav>
    </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div class="container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
